<div class="comunicados_pagina">
    <div class="container">
        <div class="row mb-2 pt-5">
            <div class="col-xs-12 col-sm-5 col-md-5">
                <h3 class="title-h3 pt-3 pb-3">Comunicados de prensa</h3>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
                <!-- <form class="wow animate__animated animate__fadeInRight">
                    <div class="form-group">
                      <select class="form-control" id="year">
                        <option>2020</option>
                        <option>2019</option>
                        <option>2018</option>
                        <option>2017</option>
                        <option>2016</option>
                        <option>2015</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="month">
                          <option>Enero</option>
                          <option>Febrero</option>
                          <option>Marzo</option>
                          <option>Abril</option>
                          <option>Mayo</option>
                          <option>Junio</option>
                          <option>Julio</option>
                          <option>Agosto</option>
                          <option>Septiembre</option>
                          <option>Octubre</option>
                          <option>Noviembre</option>
                          <option>Diciembre</option>
                        </select>
                      </div>
                  </form> -->
                  <form action="" class="d-flex pt-3 align-items-center">
                      <input type="text" class="w-50 form-control mr-sm-2" placeholder="Buscar comunicado" (keyup.enter)="buscarComunicado($event)">
                      <button (click)="buscarComunicado($event)" class="btn btn-outline-primary" type="button">Buscar</button>
                  </form>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3"></div>
        </div>
        <div class="row pb-5">
            <ng-container *ngFor="let comunicado of comunicados_data">
                <div class="col-xs-12 col-sm-6 col-md-6 p-3">
                    <div><ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" appearance="circle" [theme]="{ 'width':'100%','height':'250px','border-radius': '10px' }"></ngx-skeleton-loader></div>
                    <div *ngIf="!loader" class="bg-white tarjetaComunicado align-content-center">
                        <div class="col-xs-12 col-md-6 sin-espacios float-md-left">
                            <a (click)="verComunicado(comunicado.id)">
                                <img class="w-100 d-block" src="{{ comunicado.acf.imagen_destacada }}" alt="Imagen Comunicado" *ngIf="comunicado.acf.imagen_destacada != null">
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-6 caption float-md-left">
                            <h3 class="title-comunicado pt-1" *ngIf="comunicado.title != null">
                                <a (click)="verComunicado(comunicado.id)">{{ comunicado.title.rendered }}</a>
                            </h3>
                            <p class="date-comunicado pt-2 pb-2 m-0" *ngIf="comunicado.date != null">{{ comunicado.date | date:'fullDate' | titlecase }}</p>
                            <div class="excerpt-comunicado" *ngIf="comunicado.excerpt">
                                <p>{{ comunicado.excerpt.rendered }}</p>
                            </div>
                            <a class="ver-comunicado" (click)="verComunicado(comunicado.id)">Seguir Leyendo <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>  
</div>