<div class="comunicados_pagina">
    <div class="container">
        <div class="row mb-5 pt-5">
            <div class="col-xs-12 col-sm-5 col-md-5">
                <h3 class="title-h3 pt-3 pb-3">Comunicados de prensa</h3>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
                <form class="wow animate__animated animate__fadeInRight">
                    <div class="form-group">
                      <select class="form-control" id="year">
                        <option>2020</option>
                        <option>2019</option>
                        <option>2018</option>
                        <option>2017</option>
                        <option>2016</option>
                        <option>2015</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="month">
                          <option>Enero</option>
                          <option>Febrero</option>
                          <option>Marzo</option>
                          <option>Abril</option>
                          <option>Mayo</option>
                          <option>Junio</option>
                          <option>Julio</option>
                          <option>Agosto</option>
                          <option>Septiembre</option>
                          <option>Octubre</option>
                          <option>Noviembre</option>
                          <option>Diciembre</option>
                        </select>
                      </div>
                  </form>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3"></div>
        </div>
        <div class="row pb-5 wow animate__animated animate__fadeInUp">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="comunicado-prensa">
                    <div class="col-md-6 sin-espacios float-md-left">
                        <a href="#/comunicado-interna">
                            <img class="w-100 d-block" src="./assets/comunicados_page/not1PNG.png" alt="Imagen Comunicado">
                        </a>
                    </div>
                    <div class="col-md-6 caption float-md-left">
                        <h3 class="title-comunicado">
                            <a href="#/comunicado-interna">CHONTICO MILLONARIO SIGUE HACIENDO  FELICES A LOS CALEÑOS</a>
                        </h3>
                        <p class="date-comunicado">27 octubre, 2020</p>
                        <div class="excerpt-comunicado">
                            <p>Más de 650 formularios ganadores para un total aproximado de $310.000.000  entregados en premios. </p>
                        </div>
						<a class="ver-comunicado" href="#/comunicado-interna">Seguir Leyendo <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="comunicado-prensa">
                    <div class="col-md-6 sin-espacios float-md-left">
                        <a href="#">
                            <img class="w-100 d-block" src="./assets/comunicados_page/not2PNG.png" alt="Imagen Comunicado">
                        </a>
                    </div>
                    <div class="col-md-6 caption float-md-left">
                        <h3 class="title-comunicado">
                            <a href="#">CHONTICO MILLONARIO SIGUE HACIENDO  FELICES A LOS CALEÑOS</a>
                        </h3>
                        <p class="date-comunicado">27 octubre, 2020</p>
                        <div class="excerpt-comunicado">
                            <p>Más de 650 formularios ganadores para un total aproximado de $310.000.000  entregados en premios. </p>
                        </div>
						<a class="ver-comunicado" href="#">Seguir Leyendo <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>