<div class="ayudas_pagina mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 mb-3">
                <h2 class="size35 font-weight-700 line-height42 color-title montserrat text-center">Ayudas sociales</h2>
                <p class="text-gray-dark opensans line-height23 letter-spacing1-4 size19 text-center">Las ayudas sociales están orientadas a vendedoras en situación de vulnerabilidad y están <br>representadas en:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="nav flex-column nav-pills mb-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Nacimiento</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Medicamentos</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Auxilio funerario</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Copagos</a>
                    <a class="nav-link" id="v-pills-en-linea-tab" data-toggle="pill" href="#v-pills-en-linea" role="tab" aria-controls="v-pills-en-linea" aria-selected="false">Incapacidades</a>
                </div>
                <p class="size17 letter-spacing1-25 line-height20 opensans text-gray-dark"><span class="font-weight-700">Sede de la Fundación:</span><br>
                    Calle 9 #4 - Oficina 213
                    Santiago de Cali.
                    (57) (2) 881 20 00
                </p>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="full-tablew">
                                    <tbody>
                                        <tr>
                                            <td class="firstField-table"><p class="size19 letter-spacing1-4 line-height23 color-title opensans">Requisitos</p></td>
                                            <td><p class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">1. Ser vendedora con antigüedad de 1 año en la venta consecutivo.<br>
                                            2. No estar reportada con cartera o tener novedades negativas en su proceso de venta.<br>
                                            3. Historia Clínica -original (cuando la vendedora ha dejado de vender 2 meses antes del parto)<br>
                                            4. Certificado de Nacido Vivo - original<br>
                                            5. Copia de cédula</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p class="size19 letter-spacing1-4 line-height23 color-title opensans">¿Cuál es el beneficio?</p></td>
                                            <td><p class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Si cumple con todos los requisitos, se le entrega un auxilio económico equivalente al 70% del promedio de las comisiones de los 6 meses anteriores al parto.</p></td>
                                        </tr>
                                        <tr>
                                            <td><p class="size19 letter-spacing1-4 line-height23 color-title opensans">¿Cuánto demora la ayuda?</p></td>
                                            <td><p class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">La ayuda se demora 4 semanas en ser entregada.</p></td>
                                        </tr>
                                    </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <table class="full-tablew">
                            <tbody>
                                <tr>
                                    <td class="firstField-table"><p class="size19 letter-spacing1-4 line-height23 color-title opensans">Requisitos</p></td>
                                    <td>
                                        <ul>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Ser vendedora con antigüedad de 6 meses en la venta consecutivo.</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Fórmula Vigente original (No mayor a 30 días)</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Copia de cédula</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Registro de ayuda social</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p class="size19 letter-spacing1-4 line-height23 color-title opensans">A tener en cuenta</p></td>
                                    <td>
                                        <ul>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">No se entregan medicamentos de tratamientos continuos (ejemplo: De presión, diabetes, etc.)</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">No se entregan medicamentos homeopáticos, naturistas, multivitamínicos, Planificación familiar o medicina alternativa.</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">La ayuda social de medicamentos SÓLO entrega medicamentos que NO se encuentren en el POS (medicamentos que superan el valor subsidiado por las entidades de salud)</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p class="size19 letter-spacing1-4 line-height23 color-title opensans">¿Cuánto demora la ayuda?</p></td>
                                    <td><p class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">La ayuda se demora dependiendo de la existencia del medicamento en la farmacia en convenio.</p></td>
                                </tr>
                                <tr>
                                    <td><p class="size19 letter-spacing1-4 line-height23 color-title opensans">¿Quiénes se benefician de este servicio?</p></td>
                                    <td><p class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Vendedoras de venta e hijos hasta los 12 años.</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <table class="full-tablew">
                            <tbody>
                                <tr>
                                    <td class="firstField-table"><p class="size19 letter-spacing1-4 line-height23 color-title opensans">Requisitos</p></td>
                                    <td>
                                        <ul>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Tramitar el servicio por medio del auxiliar para hacer la solicitud a fundación.</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Ser vendedora con antigüedad de 6 meses en la venta consecutiva.</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p class="size19 letter-spacing1-4 line-height23 color-title opensans">A tener en cuenta</p></td>
                                    <td>
                                        <ul>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">El servicio solamente se presta con la funeraria de convenio, en la actualidad con Los Olivos.</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">No se realiza reintegro de dinero, ni pagos a otras funerarias.</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">En caso de fin de semana comunicarse con el auxiliar y el auxiliar con el director de Fundación.</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">El servicio incluye todo el proceso funerario</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">El servicio solo puede ser prestado en la ciudad de Cali.</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Si el asesor o beneficiario toma el servicio con otra funeraria, tiene derecho a un servicio de bus.</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p class="size19 letter-spacing1-4 line-height23 color-title opensans">¿Cuánto demora la ayuda?</p></td>
                                    <td><p class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Inmediata</p></td>
                                </tr>
                                <tr>
                                    <td><p class="size19 letter-spacing1-4 line-height23 color-title opensans">¿Quiénes se benefician de este servicio?</p></td>
                                    <td><p class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">GRUPO FAMILIAR PRIMARIO<br><br>
                                        vendedor<br>
                                        Espos@ (Presentar acta de matrimonio o extrajucio)<br>
                                        Madre-Padre (Registro civil de asesor)<br>
                                        Hij@s (Hasta los 25 años) (Registro Civil del hij@)<br>
                                        O hijos mayores de 25 años con alguna discapacidad.
                                        </p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <table class="full-tablew">
                            <tbody>
                                <tr>
                                    <td class="firstField-table"><p class="size19 letter-spacing1-4 line-height23 color-title opensans">Requisitos</p></td>
                                    <td>
                                        <ul>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Ser vendedora con antigüedad de 6 meses en la venta consecutiva.</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">No estar reportada con cartera o tener novedades negativas en su proceso de venta.</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Debe presentar como mínimo 2 días antes de la cirugía: Historia clínica, Orden de la cirugía y el documento expedido por la clínica donde indique el valor a cancelar.</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p class="size19 letter-spacing1-4 line-height23 color-title opensans">A tener en cuenta</p></td>
                                    <td>
                                        <ul>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">El copago no es del 100% del valor, se estima un costo promedio de $100.000</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Si la cirugía sucedió en fin de semana o por urgencias en la noche, se podrá realizar reintegro correspondiente a un porcentaje del valor cancelado. (No se realizan reintegros del 100%)</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p class="size19 letter-spacing1-4 line-height23 color-title opensans">¿Cuánto demora la ayuda?</p></td>
                                    <td><p class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">De acuerdo a la solicitud realizada (entre 2 y 5 días hábiles)</p></td>
                                </tr>
                                <tr>
                                    <td><p class="size19 letter-spacing1-4 line-height23 color-title opensans">¿Quiénes se benefician de este servicio?</p></td>
                                    <td><p class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">vendedor de venta <br>Hijos menores de 12 años</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="v-pills-en-linea" role="tabpanel" aria-labelledby="v-pills-en-linea-tab">
                        <table class="full-tablew">
                            <tbody>
                                <tr>
                                    <td class="firstField-table"><p class="size19 letter-spacing1-4 line-height23 color-title opensans">Requisitos</p></td>
                                    <td>
                                        <ul>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Ser vendedora con antigüedad de 6 meses en la venta consecutiva.</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">No estar reportada con cartera o tener novedades negativas en su proceso de venta.</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p class="size19 letter-spacing1-4 line-height23 color-title opensans">A tener en cuenta</p></td>
                                    <td>
                                        <ul>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Se entrega un mercado a quienes presenten incapacidades iguales o superiores a 5 días.</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">El mercado es básico equivalente a un gasto en 8 días.</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Las incapacidades deben ser continuas (5 o más días en una sola remisión).</li>
                                            <li class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">La solicitud se realiza dentro del tiempo de la incapacidad.</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p class="size19 letter-spacing1-4 line-height23 color-title opensans">¿Cuánto demora la ayuda?</p></td>
                                    <td><p class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">De acuerdo a la disponibilidad de mercados en la fundación.</p></td>
                                </tr>
                                <tr>
                                    <td><p class="size19 letter-spacing1-4 line-height23 color-title opensans">¿Quiénes se benefician de este servicio?</p></td>
                                    <td><p class="size19 letter-spacing1-4 line-height23 text-gray-dark opensans">Sólo vendedores.</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>