<div class="preguntas_pagina bk-gray pt-5 pb-5">
    <div class="container">
        <div class="row h-100">
            <div class="col-xs-12 col-md-6 my-auto">
                <h2 class="montserrat font-weight-700 size35 color-title line-height35">Preguntas frecuentes</h2><br>
                <h3 class="text-uppercase montserrat color-title size19 font-weight-700">¿Cómo gane me facilita la vida?</h3><br>
                <p class="text-gray-dark">Con más de 1.200 puntos de venta ubicados de Norte a Sur, de Oriente a Occidente, y en el Centro de la Ciudad de Cali. ¡Siempre a la mano!<br>
                    Con horario extendido de domingo a domingo ¡Realiza tus transacciones sin inconvenientes!</p>
                    <img class="d-block" src="./assets/preguntas_page/HORARIOPNG.png" alt="horario">
            </div>
            <div class="col-xs-12 col-md-6 my-auto videoPreguntas">
                <iframe class="align-middle" width="100%" height="315" src="https://www.youtube.com/embed/wYF_zFwJOwE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row bk-blue border-r13 p-5 mt-5 mb-5 iconos d-flex justify-content-center">
            <div class="col-md-12">
                <p class="text-white text-center line-height23 font-weight-700">Con un amplio portafolio de productos y servicios a través del cual los habitantes de Cali <br>encuentran soluciones oportunas a sus necesidades diarias.</p>
            </div>
            <div class="col-xs-12">
                <img class="d-block wm-100" src="./assets/preguntas_page/APUESTASPNG.png" alt="Apuestas">
            </div>
            <div class="col-xs-12">
                <img class="d-block wm-100" src="./assets/preguntas_page/GIROSPNG.png" alt="Giros">
            </div>
            <div class="col-xs-12">
                <img class="d-block wm-100" src="./assets/preguntas_page/BETPLAYPNG.png" alt="Betplay">
            </div>
            <div class="col-xs-12">
                <img class="d-block wm-100" src="./assets/preguntas_page/LOTERIAPNG.png" alt="Lotería">
            </div>
            <div class="col-xs-12">
                <img class="d-block wm-100" src="./assets/preguntas_page/RECARGASPNG.png" alt="Recargas">
            </div>
            <div class="col-xs-12">
                <img class="d-block wm-100" src="./assets/preguntas_page/SOATPNG.png" alt="Soat">
            </div>
            <div class="col-xs-12">
                <img class="d-block wm-100" src="./assets/preguntas_page/RECAUDOSPNG.png" alt="Recaudos">
            </div>
        </div>
    </div>
</div>
