<nav class="navbar navbar-expand-lg navbar-light bg-light topbar">
    <div class="container justify-content-end">
        <div class="row">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nuestra empresa</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#/quienes-somos">¿Quiénes somos?</a>
                        <a class="dropdown-item" href="#/comunicados">Comunicados de prensa</a>
                        <a class="dropdown-item" href="#/periodico">Periódico gane al día</a>
                        <a class="dropdown-item" href="#/privacidad">Aviso de privacidad</a>
                        <a class="dropdown-item" href="#/financieros">Estados Financieros</a>
                        <!--<div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>-->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicios</a>
                    <div class="dropdown-menu item-menu-servicios megamenu navbar-center animate fade-up">
                        <div class="row menu-servicios h-100">
                                <div class="col-md-4 serviciosItem">
                                    <a class="bk-transparent" href="#/recargas">
                                        <div class="img-servicio">
                                            <img class="imagenMarcaMenu"src="./assets/home/recargas.jpg" alt="Recargas">
                                        </div>
                                        <div class="txt-servicio">
                                            <p class="tituloItem-servicio">Recargas</p>
                                            <p class="textoItem-servicio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 serviciosItem">
                                    <a class="bk-transparent" href="#/giros">
                                        <div class="img-servicio">
                                            <img class="imagenMarcaMenu" src="./assets/home/giros.jpg" alt="Supergiros">
                                        </div>
                                        <div class="txt-servicio">
                                            <p class="tituloItem-servicio">Super Giros</p>
                                            <p class="textoItem-servicio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 serviciosItem">
                                    <a class="bk-transparent" href="#/giros">
                                        <div class="img-servicio">
                                            <img class="imagenMarcaMenu"src="./assets/home/girosInt.jpg" alt="Giros Internacionales">
                                        </div>
                                        <div class="txt-servicio">
                                            <p class="tituloItem-servicio">Giros <br>Internacionales</p>
                                            <p class="textoItem-servicio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                        </div>
                                    </a>
                                </div>
                        </div>
                        <div class="row menu-servicios">
                                <div class="col-md-4 serviciosItem">
                                    <a class="bk-transparent" href="#/pagos">
                                        <div class="img-servicio">
                                            <img class="imagenMarcaMenu"src="./assets/home/pagos.jpg" alt="Pagos">
                                        </div>
                                        <div class="txt-servicio">
                                            <p class="tituloItem-servicio">Pagos</p>
                                            <p class="textoItem-servicio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 serviciosItem">
                                    <a class="bk-transparent" href="#/juegos">
                                        <div class="img-servicio">
                                            <img class="imagenMarcaMenu"src="./assets/home/juegos.jpg" alt="Juegos">
                                        </div>
                                        <div class="txt-servicio">
                                            <p class="tituloItem-servicio">Juegos</p>
                                            <p class="textoItem-servicio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 serviciosItem">
                                    <a class="bk-transparent" href="#/betplay">
                                        <div class="img-servicio">
                                            <img class="imagenMarcaMenu"src="./assets/home/betplay.jpg" alt="BetPlay">
                                        </div>
                                        <div class="txt-servicio">
                                            <p class="tituloItem-servicio">BetPlay</p>
                                            <p class="textoItem-servicio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                        </div>
                                    </a>
                                </div>
                        </div>
                        <div class="row menu-servicios">
                            <div class="col-md-4 serviciosItem">
                                <a class="bk-transparent" href="#/soat">
                                    <div class="img-servicio">
                                        <img class="imagenMarcaMenu"src="./assets/home/soat.jpg" alt="Soat">
                                    </div>
                                    <div class="txt-servicio">
                                        <p class="tituloItem-servicio">SOAT</p>
                                        <p class="textoItem-servicio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 serviciosItem"></div>
                            <div class="col-md-4 serviciosItem"></div>
                    </div>
                   </div> <!-- dropdown-mega-menu.// -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Campañas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contáctenos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Puntos de venta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-blue-main" #stickyMenu [class.sticky]="sticky">
    <div class="container">
        <div class="row">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="./assets/img/logo.png" alt="" class="img-logo"></a>
        </div>
        <div class="row">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link nav-link-main" href="/#/juegos">Juegos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-main" href="/#/giros">Giros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-main" href="/#/betplay">BetPlay</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-main" href="#/pagos">Pagos</a>
                    </li>
                    <li class="nav-item btn-virtual">
                        <a class="nav-link btn-yellow-wborder" href="#">Gane Virtual</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="content-social-bar">
	<a class="hidden-xs hidden-sm redes fb" href="https://www.facebook.com/REDCOLSA" target="_blank"></a>
	<a class="hidden-xs hidden-sm redes ins"  href="https://www.instagram.com/ganecali/" target="_blank"></a>
	<a class="hidden-xs hidden-sm redes twit"  href="https://twitter.com/GaneCali" target="_blank"></a>
	<a class="hidden-xs hidden-sm redes youtub"  href="https://www.youtube.com/user/ApuestasGane" target="_blank"></a>
</div>