<div class="privacidad_pagina bk-gray pt-5 pb-5">
    <div class="container">
        <div class="row">
            <img class="w-100 d-block mb-5" src="{{ privacidad_data.acf.banner }}" alt="Banner Politicas" *ngIf="privacidad_data.acf != null">
            <div class="col-md-12">
                <h3 class="montserrat size25 line-height30 text-blue font-weight-bold mb-3" *ngIf="privacidad_data.title">{{ privacidad_data.title.rendered }}</h3>
                <p class="text-justify text-gray-dark opensans size19 line-height23 letter-spacing1-4 wow animate__animated animate__fadeInRight" *ngIf="privacidad_data.content" [innerHTML]="privacidad_data.content.rendered"></p>
            </div>
        </div>
        <div class="row wow animate__animated animate__fadeInUp">
            <div class="col-xs-12 col-sm-12 col-md-5">
                <p class="text-gray-dark opensans size19 line-height23 letter-spacing1-4" *ngIf="privacidad_data.acf" [innerHTML]="privacidad_data.acf.direccion"></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <p class="text-gray-dark opensans size19 line-height23 letter-spacing1-4" *ngIf="privacidad_data.acf" [innerHTML]="privacidad_data.acf.servicio_al_cliente"></p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>