<div class="educacion_pagina pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 mb-5">
        <div>
          <ngx-skeleton-loader
            count="1"
            *ngIf="loader"
            animation="progress"
            [theme]="{ height: '235px' }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="10"
            *ngIf="loader"
            animation="progress"
            [theme]="{ height: '35px' }"
          ></ngx-skeleton-loader>
        </div>
        <div *ngIf="!loader">
          <img
            class="mb-5 d-block w-100 wow animate__animated animate__fadeInUp"
            src="{{ banner_data }}"
            alt="Banner Educacion"
          />
          <h3
            class="montserrat font-weight-700 size35 line-height42 color-title wow animate__animated animate__fadeInUp"
          >
            {{ titulo_data }}
          </h3>
          <p class="letter-spacing0-93 text-black" [innerHTML]="texto_data"></p>
          <ng-container *ngFor="let data of seccion2_data">
            <h4
              class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700"
            >
              {{ data.titulo }}
            </h4>
            <p
              class="letter-spacing0-93 text-black wow animate__animated animate__fadeInUp"
              [innerHTML]="data.texto"
            ></p>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p
          class="letter-spacing0-93 text-black"
          [innerHTML]="texto_final_data"
        ></p>
      </div>
    </div>
  </div>
</div>
