<div class="educacion_pagina pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 mb-5">
                <img class="mb-5 d-block w-100 wow animate__animated animate__fadeInUp" src="./assets/home/FOOTER/banner_educacion_continuaPNG.jpg" alt="Banner Educacion">
                <h3 class="montserrat font-weight-700 size35 line-height42 color-title wow animate__animated animate__fadeInUp">Educación Continua</h3>
                <p class="letter-spacing0-93 text-gray-dark">La Fundación Social Gane, desde año 2011 cuenta con Resolución de Funcionamiento como Institución de Educación para el trabajo y el Desarrollo Humano emanada por la secretaria de educación municipal No. 4143.0.21.9201, por medio de la cual ofrece:</p><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">El Técnico Laboral en Auxiliar Administrativo</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">Estará en capacidad de recordar, verificar, registrar y tramitar documentos y formularios como: solicitudes, licencias, permisos, contratos e inscripción de acuerdo con procedimientos establecidos pautas y programación, a su vez realizar acciones preventivas además de realizar todas las funciones concernientes a la labor como auxiliar administrativo requeridas por la organización. Laboralmente, el egresado del Técnico Laboral en Auxiliar Administrativo se podrá desempeñar como:<br>
                    <br>
                    • Auxiliares de oficina<br>
                    • Auxiliares de personal<br>
                     <br>
                    Inscripciones Semestrales<br>
                    Horarios de Capacitación 1 día a la semana, durante 4 horas.<br>
                    Duración 3 semestres.</p><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Técnico Laboral en Agente de Ventas</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">Trabajo a través del reconocimiento de las técnicas comerciales, el manejo de espacios, el análisis del estará en la capacidad de aplicar los conocimientos teórico-prácticos en la cotidianidad de su mercado y sus respectivas actividades de planeación. Estará en capacidad de brindar herramientas y alternativas de solución a situaciones cotidianas donde se muestre autónomo e independiente. Laboralmente, el egresado del Técnico Laboral en Auxiliar Administrativo se podrá desempeñar como:<br>
                    <br>
                    • Representante de ventas<br>
                    • Asesor Comercial<br>
                    • Asesor de Ventas<br>
                     <br>
                    Inscripciones Semestrales<br>
                    Horarios de Capacitación 1 día a la semana, durante 4 horas.<br>
                    Duración 3 semestres.
                </p><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Bachillerato por Ciclos en Convenio con Comfandi (Alpeinco)</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">Dirigido a los asesores Gane, que deseen culminar la primaria y/o bachillerato<br>
                    <br>
                    Horarios sábados<br>
                    7:00 a 12:00 am Ó 1:00 a 6:00 pm<br>
                    Comfandi San Nicolás Calle 21 # 7 -50<br>
                     <br>
                    Requisitos<br>
                    1. Ser vendedor con más de 1 año en la empresa.<br>
                    2. Copia de cédula y carné de vendedor<br>
                    3. Copia de certificado del último año cursado<br>
                    (en caso de no tenerlo informar, para realizar evaluación nivelatoria).<br>
                </p><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Subsidios para vendedores entre el 100% y el 75%<br>
                    Sistemas básico</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">El personal que ingrese en el proceso de capacitación en sistemas, al finalizar estará en la capacidad de operar los programas de Microsoft Office. Estará en condiciones de adaptarse a las necesidades del entorno, tomará conciencia de la correcta aplicación de los programas de uso general: procesadores de texto, hojas electrónicas, presentaciones, búsqueda y recuperación de información en Internet. Por tanto, Adquiere los conocimientos técnicos mínimos necesarios para utilizar una computadora personal, programas de uso general e Internet.<br>
                    <br>
                    Horarios de Capacitación:<br>
                    Una vez por semana de 9:00a.m. a 12:00 m. / 2:00 p.m. a 5:00 p.m.<br>
                    Duración 45 horas por Nivel
                </p><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Domingos Emprendedores</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">Seminarios especializados en ventas y crecimiento personal, que se desarrollan para los asesores gane y sus familiares.<br>
                    Horarios: 1 Domingo al mes de 8:00 a 12:00m                
                </p><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Taller de Automaquillaje</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">Es un taller teórico –práctico por niveles en los cuales se trabaja el cuidado de la piel, el cabello, los tipos de rostros y las características del maquillaje según la ocasión.<br>
                    <br>
                    Horarios: 1 vez al mes por nivel de 2:00 a 4:00pm.               
                </p><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Cursos cortos con el SENA</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">En el marco de capacitaciones empresariales el Sistema Nacional de Aprendizaje SENA y la Fundación Social Gane, se realizan cursos cortos enfocados en el mejoramiento del servicio al cliente, el mercadeo y las habilidades sociales, para la comunidad en general de forma gratuita.<br>
                    <br>
                    Horarios: 1 vez por semana de acuerdo a la duración del curso de 8:00 a 12:00m            
                </p><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Educación continua</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">De acuerdo a las necesidades sociales, Fundación Social Gane como Institución para el Trabajo y el Desarrollo Humano ha desarrollado Diplomados, seminarios y talleres que se ofertan a toda la comunidad con el objetivo de mejorar las competencias laborales, mediante herramientas prácticas que sean de gran utilidad en su crecimiento personal y profesional.<br>
                    <br>
                    Entre los temas que se trabajan, se evidencian:<br>         
                </p>
                <div class="row wow animate__animated animate__fadeInUp">
                    <div class="col-xs-12 col-md-3">
                        <ul class="letter-spacing0-93 text-gray-dark size16">
                            <li>Proyección del futuro</li>
                            <li>Inteligencia Emocional</li>
                            <li>Finanzas personales</li>
                            <li>Neuroventas</li>
                            <li>Fundamentos Contables</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <ul class="letter-spacing0-93 text-gray-dark size16">
                            <li>Habilidades Gerenciales</li>
                            <li>Contratación Laboral</li>
                            <li>Telemercadeo</li>
                            <li>Liderazgo</li>
                            <li>Orden y tiempo libre</li>
                            <li>Técnicas de oficina</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="letter-spacing0-93 text-gray-dark"><strong>Sede de la Fundación:</strong><br>
                    Calle 9 #4 - Oficina 213<br>
                    Santiago de Cali.<br>
                    (57) (2) 881 20 00
                    </p>
            </div>
        </div>
    </div>
</div>