<div class="educacion_pagina pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 mb-5">
                <img class="mb-5 d-block w-100 wow animate__animated animate__fadeInUp" src="./assets/home/FOOTER/banner_educacion_continuaPNG.jpg" alt="Banner Educacion">
                <h3 class="montserrat font-weight-700 size35 line-height42 color-title wow animate__animated animate__fadeInUp">Educación Continua</h3>
                <p class="letter-spacing0-93 text-gray-dark">Somos institución Técnica Laboral, avalada por Secretaría de Educación Municipal bajo la resolución No. 4143.21.9201 Octubre 14/2011.</p><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Programas Técnicos Laborales</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">Nuestros programas técnicos están dirigidos a toda la comunidad y cuentan con subsidio de financiación:</p>
                    <ul class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">
                        <li>Técnico Promotor de Ventas<br>
                            Res. 4143.21.04466 Mayo/2018</li>
                        <li>Técnica Auxiliar Administrativo<br>
                            Res. 4143.010.21.000571 Febrero/2020</li>
                        <li>Técnico Auxiliar de Caja<br>
                            Res. 4143.010.21.000570 Febrero/2020</li>
                    </ul>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">Duración: 3 semestres cada programa.<br>
                        Incluyen: Sistemas e inglés</p>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Educación Continua</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">Diplomados, seminarios, talleres y cursos enfocados en el crecimiento personal y laboral.</p>
                    <ul class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">
                        <li>Sistemas básico y avanzado (Paquete Office)</li>
                        <li>Mercadeo y ventas</li>
                        <li>Artes</li>
                        <li>Entre otros.</li>
                    </ul>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Capacitación Virtual</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">En nuestra plataforma educativa ganedu.gane.com.co podrás capacitarte gratuitamente y obtener tu certificado de aprobación.</p>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">Áreas conocimiento:</p>
                <ul class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">
                    <li>Mercadeo y ventas</li>
                    <li>Administrativa</li>
                    <li>Financiera</li>
                    <li>Competencias Básicas</li>
                </ul>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">Informes: 317 667 20 32</p>
                <!--
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Subsidios para vendedores entre el 100% y el 75%<br>
                    Sistemas básico</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">El personal que ingrese en el proceso de capacitación en sistemas, al finalizar estará en la capacidad de operar los programas de Microsoft Office. Estará en condiciones de adaptarse a las necesidades del entorno, tomará conciencia de la correcta aplicación de los programas de uso general: procesadores de texto, hojas electrónicas, presentaciones, búsqueda y recuperación de información en Internet. Por tanto, Adquiere los conocimientos técnicos mínimos necesarios para utilizar una computadora personal, programas de uso general e Internet.<br>
                    <br>
                    Horarios de Capacitación:<br>
                    Una vez por semana de 9:00a.m. a 12:00 m. / 2:00 p.m. a 5:00 p.m.<br>
                    Duración 45 horas por Nivel
                </p><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Domingos Emprendedores</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">Seminarios especializados en ventas y crecimiento personal, que se desarrollan para los asesores gane y sus familiares.<br>
                    Horarios: 1 Domingo al mes de 8:00 a 12:00m                
                </p><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Taller de Automaquillaje</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">Es un taller teórico –práctico por niveles en los cuales se trabaja el cuidado de la piel, el cabello, los tipos de rostros y las características del maquillaje según la ocasión.<br>
                    <br>
                    Horarios: 1 vez al mes por nivel de 2:00 a 4:00pm.               
                </p><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Cursos cortos con el SENA</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">En el marco de capacitaciones empresariales el Sistema Nacional de Aprendizaje SENA y la Fundación Social Gane, se realizan cursos cortos enfocados en el mejoramiento del servicio al cliente, el mercadeo y las habilidades sociales, para la comunidad en general de forma gratuita.<br>
                    <br>
                    Horarios: 1 vez por semana de acuerdo a la duración del curso de 8:00 a 12:00m            
                </p><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Educación continua</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">De acuerdo a las necesidades sociales, Fundación Social Gane como Institución para el Trabajo y el Desarrollo Humano ha desarrollado Diplomados, seminarios y talleres que se ofertan a toda la comunidad con el objetivo de mejorar las competencias laborales, mediante herramientas prácticas que sean de gran utilidad en su crecimiento personal y profesional.<br>
                    <br>
                    Entre los temas que se trabajan, se evidencian:<br>         
                </p>
                <div class="row wow animate__animated animate__fadeInUp">
                    <div class="col-xs-12 col-md-3">
                        <ul class="letter-spacing0-93 text-gray-dark size16">
                            <li>Proyección del futuro</li>
                            <li>Inteligencia Emocional</li>
                            <li>Finanzas personales</li>
                            <li>Neuroventas</li>
                            <li>Fundamentos Contables</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <ul class="letter-spacing0-93 text-gray-dark size16">
                            <li>Habilidades Gerenciales</li>
                            <li>Contratación Laboral</li>
                            <li>Telemercadeo</li>
                            <li>Liderazgo</li>
                            <li>Orden y tiempo libre</li>
                            <li>Técnicas de oficina</li>
                        </ul>
                    </div>
                </div>
                -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="letter-spacing0-93 text-gray-dark"><strong>Sede de la Fundación:</strong><br>
                    Calle 9 #4 - Oficina 213<br>
                    Santiago de Cali.<br>
                    (57) (2) 881 20 00
                    </p>
            </div>
        </div>
    </div>
</div>