<div class="campana-interna_pagina">
    <div class="bk-gray pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <img class="w-100" src="{{ campana_data.acf.imagen_interna }}" alt="Campana Banner">
                </div>
                <div class="col-xs-12 col-md-6">
                    <h2 class="size35 color-title font-weight-700">{{ campana_data.title.rendered }}</h2>
                    <p class="color-title"><span class="font-weight-700"><i class="far fa-clock"></i> Inicia:</span> {{ campana_data.acf.fecha_de_inicio | date:'fullDate' | titlecase }}<br>
                    <span class="font-weight-700"><i class="far fa-clock"></i> Finaliza:</span> {{ campana_data.acf.fecha_fin | date:'fullDate' | titlecase }}</p>
                    <h5 *ngIf="campana_data.acf.estado === 'Vigente'">
                        <span class="badge badge-warning text-white font-weight-normal pr-3 pl-3 pb-1">{{ campana_data.acf.estado }}</span>
                    </h5>
                    <h5 *ngIf="campana_data.acf.estado === 'Terminada'">
                        <span class="badge badge-success text-white font-weight-normal pr-3 pl-3 pb-1">{{ campana_data.acf.estado }}</span>
                    </h5>
                    <p class="text-gray-dark" [innerHTML]="campana_data.acf.descripcion_larga"></p>
                    <br>
                    <a class="btn-yellow-outline font-weight-bold size18 p-2 mt-3" href="{{ campana_data.acf.url_de_la_campana }}">Ir a la campaña</a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="">
                    <ul class="nav nav-tabs tabs-campana" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active d-flex align-content-stretch align-items-stretch" id="terminos-tab" data-toggle="tab" href="#terminos" role="tab" aria-controls="terminos" aria-selected="true">Términos y condiciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-content-stretch align-items-stretch" id="ganadores-tab" data-toggle="tab" href="#ganadores" role="tab" aria-controls="ganadores" aria-selected="false">Ganadores</a>
                        </li>
                        </ul>
                        <div class="tab-content p-3 bk-white" id="myTabContent">
                        <div class="tab-pane fade show active" id="terminos" role="tabpanel" aria-labelledby="terminos-tab">
                            <div class="size15 letter-spacing1-01" [innerHTML]="campana_data.acf.terminos_y_condiciones"></div>
                        </div>
                        <div class="tab-pane fade" id="ganadores" role="tabpanel" aria-labelledby="ganadores-tab">
                            <div class="size15 letter-spacing1-01" [innerHTML]="campana_data.acf.ganadores_descripcion"></div>
                                <div class="row">
                                    <ng-container *ngIf="campana_data.acf.ganadores_4_cifras != false">
                                        <div class="col-xs-12 col-md-6">
                                            <p class="mb-2">Choladito 4 cifras</p>
                                            <table class="full-table mt-3">
                                                <thead>
                                                        <th>Valor apuesta</th>
                                                        <th>Modalidad</th>
                                                        <th>Valor Premio</th>
                                                </thead>
                                                <tbody>
                                                    <ng-container *ngFor="let cifras of campana_data.acf.ganadores_4_cifras">
                                                        <tr>
                                                            <td>${{ cifras.valor_apuesta }}</td>
                                                            <td>{{ cifras.modalidad }}</td>
                                                            <td>${{ cifras.valor_premio }}</td>
                                                        </tr>
                                                    </ng-container>
                                                </tbody>
                                            </table>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="campana_data.acf.ganadores_3_cifras != false">
                                        <div class="col-xs-12 col-md-6">
                                            <p class="mb-2">Choladito 3 cifras</p>
                                            <table class="full-table mt-3">
                                                <thead>
                                                        <th>Valor apuesta</th>
                                                        <th>Modalidad</th>
                                                        <th>Valor Premio</th>
                                                </thead>
                                                <tbody>
                                                    <ng-container *ngFor="let cifras of campana_data.acf.ganadores_3_cifras">
                                                        <tr>
                                                            <td>${{ cifras.valor_apuesta }}</td>
                                                            <td>{{ cifras.modalidad }}</td>
                                                            <td>${{ cifras.valor_premio }}</td>
                                                        </tr>
                                                    </ng-container>
                                                </tbody>
                                            </table>
                                        </div>
                                    </ng-container>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bk-white pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="color-title font-weight-700 text-center pb-4">Otras Campañas</h2>
                </div>
                <div class="col-sm-3">
                    <div class="card border-0 card-shadow-hover">
                        <a href="#/campana-interna"><img class="card-img-top" src="./assets/home/SECCION-6/campana4PNG.png" alt="Card image cap"></a>
                        <div class="card-body p-2">
                            <h5 class="card-title text-blue font-weight-bold">Un minuto para ganar</h5>
                            <h5><span class="badge badge-warning text-white font-weight-normal pr-3 pl-3 pb-1">Terminada</span></h5>
                            <small class="text-blue"><i class="far fa-clock"></i> Lunes 03 de Octubre de 2020</small>
                            <p class="size16 card-text mb-1 font-weight-bold line-height1-4 text-blue">Participa con chances de $1000 en adelante</p>
                            <p class="size14 line-height1-4 text-blue mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus praesentium.</p>
                            <a href="#/campana-interna" class="size13 text-yellow">Más información <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card border-0 card-shadow-hover">
                        <a href="#"><img class="card-img-top" src="./assets/home/SECCION-6/campana3PNG.png" alt="Card image cap"></a>
                        <div class="card-body p-2">
                            <h5 class="card-title text-blue font-weight-bold">Un minuto para ganar</h5>
                            <h5><span class="badge badge-warning text-white font-weight-normal pr-3 pl-3 pb-1">Terminada</span></h5>
                            <small class="text-blue"><i class="far fa-clock"></i> Lunes 03 de Octubre de 2020</small>
                            <p class="size16 card-text mb-1 font-weight-bold line-height1-4 text-blue">Participa con chances de $1000 en adelante</p>
                            <p class="size14 line-height1-4 text-blue mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus praesentium.</p>
                            <a href="#" class="size13 text-yellow">Más información <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card border-0 card-shadow-hover">
                        <a href="#"><img class="card-img-top" src="./assets/home/SECCION-6/campana1PNG.png" alt="Card image cap"></a>
                        <div class="card-body p-2">
                            <h5 class="card-title text-blue font-weight-bold">Un minuto para ganar</h5>
                            <h5><span class="badge badge-success text-white font-weight-normal pr-3 pl-3 pb-1">Vigente</span></h5>
                            <small class="text-blue"><i class="far fa-clock"></i> Lunes 03 de Octubre de 2020</small>
                            <p class="size16 card-text mb-1 font-weight-bold line-height1-4 text-blue">Participa con chances de $1000 en adelante</p>
                            <p class="size14 line-height1-4 text-blue mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus praesentium.</p>
                            <a href="#" class="size13 text-yellow">Más información <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card border-0 card-shadow-hover">
                        <a href="#"><img class="card-img-top" src="./assets/home/SECCION-6/campana2PNG.png" alt="Card image cap"></a>
                        <div class="card-body p-2">
                            <h5 class="card-title text-blue font-weight-bold">Un minuto para ganar</h5>
                            <h5><span class="badge badge-warning text-white font-weight-normal pr-3 pl-3 pb-1">Terminada</span></h5>
                            <small class="text-blue mb-2"><i class="far fa-clock"></i> Lunes 03 de Octubre de 2020</small>
                            <p class="size16 card-text mb-1 font-weight-bold line-height1-4 text-blue">Participa con chances de $1000 en adelante</p>
                            <p class="size14 line-height1-4 text-blue mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus praesentium.</p>
                            <a href="#" class="size13 text-yellow">Más información <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>