<div class="gestion_pagina bk-gray pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="montserrat size25 font-weight-700 line-height30 text-blue">Sistema de gestión de calidad</h3>
                <br>
                <p class="text-gray-dark size19 letter-spacing1-4 line-height23">Desde el año 2017 venimos recertificándonos en la norma ISO 9001:2015, con lo que queda demostrado que Gane es una empresa que se compromete con la entrega de productos y servicios de calidad, al mismo tiempo que actúa en equilibrio con sus partes interesadas.<br><br>
                    En la Red Colombiana de Servicios S.A., estamos comprometidos con:
                    </p>
                    <ul>
                        <li class="text-gray-dark size19 letter-spacing1-4">Satisfacer las necesidades de los clientes en relación con nuestros productos y servicios.</li>
                        <li class="text-gray-dark size19 letter-spacing1-4">Mejorar continuamente los procesos, cumpliendo con los requisitos aplicables.</li>
                        <li class="text-gray-dark size19 letter-spacing1-4">Contribuir al desarrollo integral de nuestros colaboradores y  de la comunidad.</li>
                        <li class="text-gray-dark size19 letter-spacing1-4">Agregar valor para nuestros accionistas.</li>
                    </ul>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"><img class="w-100 d-block"src="./assets/home/gestion_calidadPNG.jpg" alt="Gestion"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
