<div class="gestion_pagina bk-gray pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="montserrat size25 font-weight-700 line-height30 text-blue">{{ titulo_data }}</h3>
                <br>
                <p class="text-justify text-gray-dark size19 letter-spacing1-4 line-height23" [innerHTML]="texto_principal_data" ></p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"><img class="w-100 d-block" *ngIf="imagen_principal_data" src="{{ imagen_principal_data }}" alt="Gestion"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
