<div class="politicas_pagina mt-5 mb-5">
  <div class="container">
    <div class="row h-100">
      <div class="col-12">
        <ngx-skeleton-loader
          count="1"
          *ngIf="loader"
          animation="progress"
          [theme]="{ height: '235px' }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          count="10"
          *ngIf="loader"
          animation="progress"
          [theme]="{ height: '35px' }"
        ></ngx-skeleton-loader>
      </div>
      <div
        *ngIf="!loader"
        class="col-12 my-auto wow animate__animated animate__fadeInLeft"
      >
        <img
          class="d-block w-100 wow animate__animated animate__fadeInRight"
          src="{{ banner_data }}"
          alt="Grupo"
        />
        <h2 class="montserrat font-weight-700 size35 line-height42 color-title">
          {{ seccion1_data.titulo_general }}
        </h2>
        <h2 class="montserrat size35 line-height42 color-title">
          {{ seccion1_data.subtitulo_general }}
        </h2>
        <p
          class="text-justify text-gray-dark size19 line-height23"
          [innerHTML]="seccion1_data.texto_general"
        ></p>
      </div>
    </div>
    <ngx-skeleton-loader
      count="5"
      *ngIf="loader"
      animation="progress"
      [theme]="{ height: '35px' }"
    ></ngx-skeleton-loader>
    <div class="row">
      <div *ngIf="!loader">
        <ng-container *ngFor="let data of seccion_2_data">
          <div
            class="mb-4 col-xs-12 col-md-12 wow animate__animated animate__fadeInUp"
          >
            <h4
              class="color-title letter-spacing1-4 size19 opensans font-weight-700"
            >
              {{ data.titulo }}
            </h4>
            <p class="text-justify text-gray-dark" [innerHTML]="data.texto"></p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
