<div class="politicas_pagina mt-5 mb-5">
    <div class="container">
        <div class="row h-100">
            <div class="col-xs-12 col-md-7">
                <ngx-skeleton-loader count="7" *ngIf="loader" animation="progress" [theme]="{height:'35px' }"></ngx-skeleton-loader>
            </div>
            <div class="col-xs-12 col-md-5">
                <div><ngx-skeleton-loader *ngIf="loader" animation="progress" appearance="circle" [theme]="{ width: '300px',height: '300px' }"></ngx-skeleton-loader></div>
            </div>
            <div *ngIf="!loader" class="col-xs-12 col-md-7 my-auto wow animate__animated animate__fadeInLeft">
                <h2 class="montserrat font-weight-700 size35 line-height42 color-title">{{ seccion1_data.titulo_general }}</h2>
                <h2 class="montserrat size35 line-height42 color-title">{{ seccion1_data.subtitulo_general }}</h2>
                <p class="text-justify text-gray-dark size19 line-height23" [innerHTML]="seccion1_data.texto_general"></p>
            </div>
            <div *ngIf="!loader" class="col-xs-12 col-md-5">
                <img class="d-block w-100 wow animate__animated animate__fadeInRight" src="{{ seccion1_data.imagen_derecha }}" alt="Grupo">
            </div>
        </div>
        <ngx-skeleton-loader count="5" *ngIf="loader" animation="progress" [theme]="{height:'35px' }"></ngx-skeleton-loader>
        <div class="row">
            <div *ngIf="!loader">
                <ng-container *ngFor="let data of seccion_2_data">
                    <div class="mb-4 col-xs-12 col-md-12 wow animate__animated animate__fadeInUp">
                        <h4 class="color-title letter-spacing1-4 size19 opensans font-weight-700">{{ data.titulo }}</h4>
                        <p class="text-justify text-gray-dark" [innerHTML]="data.texto"></p>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>