<div class="primera-infancia_pagina mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="d-block w-100 mb-5 wow animate__animated animate__fadeInUp" src="./assets/home/FOOTER/banner_primeraingaciaPNG.jpg" alt="Banner Principal Salud">
                <h3 class="montserrat font-weight-700 size35 line-height42 color-title wow animate__animated animate__fadeInUp">Infancia y adolescencia</h3>
                <p class="letter-spacing0-93 text-gray-dark">Para los hijos (as) de nuestros Colocadores Independientes de Servicios que se encuentren entre los 0 y los 17 años, podrán participar en las actividades de:</p><br>
                <div class="row wow animate__animated animate__fadeInUp">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <ul class="letter-spacing0-93 text-gray-dark size16 text-justify">
                            <li>Madres Gestantes (CIS  o pareja de CIS en estado de gestación)</li>
                            <li>Brindar orientación durante el proceso de gestación, a través de talleres interactivos.</li>
                            <li>Estimulación adecuada (Bebés entre 0 y 11 meses)</li>
                            <li>Contribuir en el buen desarrollo y estimulación de los bebés durante su crecimiento del primer año.</li>
                            <li>Creciendo con Gane (Niños de 12 meses a 4 años)</li>
                            <li>Fortalecer las habilidades motrices, desarrollo del lenguaje y la socialización con su entorno.</li>
                            <li>Cuidarte (Niños de 5 a 12 años)</li>
                            <li>Aprovechamiento del tiempo libre a través de la lúdica, la recreación, refuerzo en las áreas de estudio y apoyo de tareas.</li>
                            <li>Primera comunión (8 años en adelante): Fortalecer en las familias los sacramentos a través de la comunión.</li>
                            <li>Taller Jóvenes (Jóvenes de 13 a 17 años)</li>
                            <li>Actividad direccionada a fortalecer las habilidades de los jóvenes, mediante proyectos de emprendimiento.</li>
                        </ul><br>
                        <br>
                        <p class="letter-spacing0-93 text-black"><strong>Informes:</strong> 317 668 95 14</p>
                        <p class="letter-spacing0-93 text-gray-dark"><strong>Sede de la Fundación:</strong><br>
                            Calle 9 #4 - Oficina 213<br>
                            Santiago de Cali.<br>
                            (57) (2) 881 20 00
                            </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <img class="d-block img-fluid mt-2" src="./assets/home/FOOTER/GroupCopyPNG.png" alt="Primera Infancia">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>