<div class="primera-infancia_pagina mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="d-block w-100 mb-5" src="./assets/home/FOOTER/banner_primeraingaciaPNG.jpg" alt="Banner Principal Salud">
                <h3 class="montserrat font-weight-700 size35 line-height42 color-title">Primera Infancia</h3>
                <p class="letter-spacing0-93 text-gray-dark">Tiene convenio con la institución educativa Fe y Alegría, con los CDI y con el Hogar Infantil Pio-Pio para los niños de 2 a 5 años. Ubica el Hogar que se encuentra cerca de tu vivienda:</p><br>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Fe y Alegría</h4>
                        <ul class="letter-spacing0-93 text-gray-dark size16">
                            <li>Cecilia Caballero López Cll 39ª#43b- 20 B/República de Israel</li>
                            <li>Santa Mónica Cra 27G # 96 -00 B/ Alfonso Bonilla Aragón</li>
                            <li>Las Palmeras Diag. 26p4 # T96 – 44 B/ Marroquín</li>
                            <li>Alegría de Crecer Diag. 52º # 12 -13 B/ Siloé</li>
                            <li>Las Cascadas Cll 1B # 63ª – 24 B/La Rivera</li>
                        </ul><br>
                        <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">CDI</h4>
                        <ul class="letter-spacing0-93 text-gray-dark size16">
                            <li>Nuevo Latir Cll 76 # 28 – 20</li>
                            <li>Remansos de Comfandi Cll 125ª # 26L -5</li>
                            <li>HOGAR INFANTIL PIO-PIO Barrio El Rodeo cra. 25ª #42ª-25</li>
                        </ul><br>
                        <br>
                        <p class="letter-spacing0-93 text-gray-dark"><strong>Sede de la Fundación:</strong><br>
                            Calle 9 #4 - Oficina 213<br>
                            Santiago de Cali.<br>
                            (57) (2) 881 20 00
                            </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Requisitos</h4>
                        <ul class="letter-spacing0-93 text-gray-dark size16">
                            <li>La madre o el padre debe ser vendedor (a) activo con más de 3 	meses de vinculación</li>
                            <li>El niño a la niña deben estar entre los 2 y los 4 años</li>
                            <li>El carnet de vacunación y Crecimiento y Desarrollo Deben estar 	actualizados</li>
                            <li>Debe tener Registro Civil</li>
                        </ul>
                        <img class="d-block w-100 mt-3" src="./assets/home/FOOTER/GroupCopyPNG.png" alt="Primera Infancia">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>