<div class="blog-interna_pagina">
    <div class="bk-white pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <img class="img-fluid mt-3 mb-3" src="{{ article_data.featured_image }}" alt="Banner Interna Blog">
                    </p>
                    <h2 class="title35 wow animate__animated animate__fadeInUp">{{ article_data.title.rendered }}</h2>
                    <p class="text-blue wow animate__animated animate__fadeInUp">{{ article_data.date | date:'fullDate' | titlecase }}</p>
                    <p class="wow animate__animated animate__fadeInUp" [innerHTML]="article_data.content.rendered"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="bk-gray pb-5 pt-3">
        <div class="container"> 
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-mision font-weight-600 mx-auto text-center d-block wow animate__animated animate__fadeInUp">Otros artículos</h3>
                </div>
                <div class="col-sm-4">
                    <div class="card border-0 card-shadow-hover">
                        <a href="#"><img class="card-img-top" src="./assets/blog_page/LISTADO/not5.jpg" alt="Card image cap"></a>
                        <div class="card-body p-2">
                            <h5 class="mb-0 font-weight-bold">Este es un título de prueba para artículo destacado</h5>
                            <small class="text-gray-dark">Lunes 03 de Octubre de 2020</small>
                            <p class="size14 line-height1-4 text-gray-dark mb-2 mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus praesentium.</p>
                            <a href="#" class="size13">Seguir Leyendo <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-0 card-shadow-hover">
                        <a href="#"><img class="card-img-top" src="./assets/blog_page/LISTADO/not6.jpg" alt="Card image cap"></a>
                        <div class="card-body p-2">
                            <h5 class="mb-0 font-weight-bold">Este es un título de prueba para artículo destacado</h5>
                            <small class="text-gray-dark">Lunes 03 de Octubre de 2020</small>
                            <p class="size14 line-height1-4 text-gray-dark mt-3 mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus praesentium.</p>
                            <a href="#" class="size13">Seguir Leyendo <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-0 card-shadow-hover">
                        <a href="#"><img class="card-img-top" src="./assets/blog_page/LISTADO/not7.jpg" alt="Card image cap"></a>
                        <div class="card-body p-2">
                            <h5 class="mb-0 font-weight-bold">Este es un título de prueba para artículo destacado</h5>
                            <small class="text-gray-dark">Lunes 03 de Octubre de 2020</small>
                            <p class="size14 line-height1-4 text-gray-dark mb-2 mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus praesentium.</p>
                            <a href="#" class="size13">Seguir Leyendo <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>