<div class="blog-interna_pagina">
    <div class="bk-white pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" appearance="circle" [theme]="{width: '100%',height: '300px','border-radius': '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="3" *ngIf="loader" animation="progress" [theme]="{ height: '30px' }"></ngx-skeleton-loader>
                    <div *ngIf="!loader">
                        <p class="text-center">
                            <img class="img-fluid mt-3 mb-3" src="{{ article_data.featured_image }}" alt="Banner Interna Blog">
                        </p>
                        <h2 class="title35 wow animate__animated animate__fadeInUp" *ngIf="article_data.title">{{ article_data.title.rendered }}</h2>
                        <p class="text-blue wow animate__animated animate__fadeInUp">{{ article_data.date | date:'fullDate' | titlecase }}</p>
                        <p class="wow animate__animated animate__fadeInUp" *ngIf="article_data.content" [innerHTML]="article_data.content.rendered"></p>
                        <div class="row">
                            <ng-container *ngFor="let imagenes of article_data_acf.imagenes">
                                <div class="col-xs-12 col-md-4">
                                    <img src="{{ imagenes.imagen }}" class="img-fluid" alt="">
                                </div>
                            </ng-container>
                        </div>
                        <div class="row">
                            <ng-container *ngFor="let videos of article_data_acf.videos">
                                <div class="col-xs-12 col-md-4">
                                    <video width="100%" height="240" controls>
                                        <source src="{{ videos.video }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bk-gray pb-5 pt-3">
        <div class="container"> 
            <div>
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{ 'height':'30px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader class="d-flex" count="3" *ngIf="loader" animation="progress" appearance="circle" [theme]="{'width':'100%', 'height':'235px', 'border-radius':'12px' }"></ngx-skeleton-loader>
            </div>
            <div *ngIf="!loader" class="row">
                <div class="col-md-12">
                    <h3 class="title-mision font-weight-600 mx-auto text-center d-block wow animate__animated animate__fadeInUp">Otros artículos</h3>
                </div>
                <div class="card-columns">
                    <ng-container *ngFor="let post of articles_data | slice:0:3">
                        <div class="card">
                            <div class="sinEspacio">
                                <a (click)="verArticle(post.slug)">
                                    <img class="card-img-top" src="{{ post.featured_image }}" alt="Noticia">
                                </a>
                            </div>
                            <div class="caption">
                                <h3 class="tituloPublicacionSingular pt-2">
                                    <a class="text-black" (click)="verArticle(post.slug)">{{ post.title.rendered }}</a>
                                </h3>
                                <p class="fechaNoticias">{{ post.date | date:'fullDate' | titlecase }}</p>
                                <p class="text-gray" *ngIf="post.excerpt.rendered != ''">{{ post.excerpt.rendered }}</p>
                                <div class="campoBotonNoticia pt-1 pb-3">
                                    <a class="verNoticia" (click)="verArticle(post.slug)">Seguir leyendo <i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>