<div class="container ruleta-interna">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="p-4 background-ruleta">
        <p class="text-center">
          <img
            class="img-num-suerte"
            style="width: 60%"
            src="./assets/home/SECCION-4/concepto_numeroPNG.png"
            alt="Card image cap"
          />
        </p>
        <div class="caption-slotmachine text-center">
          <img
            class="img-fluid"
            src="./assets/home/SECCION-4/gira_numerosPNG.png"
            alt="Card image cap"
            style="position: relative"
          />
          <div
            class="slotwrapper {{ slotwrapper }}"
            id="example1"
            style="
              position: absolute;
              left: 54%;
              top: 51%;
              transform: translate(-50%, -50%);
            "
          >
            <ul data-playslot="0" style="top: 0">
              <li>0</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
            </ul>
            <ul data-playslot="0" style="top: 0">
              <li>0</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
            </ul>
            <ul data-playslot="0" style="top: 0">
              <li>0</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
            </ul>
            <ul data-playslot="0" style="top: 0">
              <li>0</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
            </ul>
          </div>
        </div>
        <p class="mt-1 text-center text-white font-weight-bold">
          Presiona el botón rojo para jugar
        </p>
        <p class="text-center">
          <img
            (click)="activeRuleta()"
            id="btn-example1"
            class="img-fluid btn"
            src="./assets/home/SECCION-4/btn_giraPNG.png"
            alt="Card image cap"
            style="position: relative"
          />
        </p>
      </div>
    </div>
  </div>
</div>
