<div class="pago-premios_pagina pt-5 pb-5">
    <div class="container">
        <div class="row h-100 mb-5">
            <div class="col-xs-12 col-sm-6 col-md-6 my-auto">
                <h2 class="montserrat font-weight-700 size35 color-title line-height35">Pago <br>de Premios</h2>
                <P class="text-gray-dark size19 line-height23 letter-spacing1-4 wow animate__animated animate__fadeInLeft">Informamos a todos nuestros clientes ganadores de premios que con base en los requisitos exigidos por el Acuerdo emitido 317 de 2016 por el Consejo Nacional de Juegos de Suerte y Azar CNJSA  para cobrar su premio deben:</P>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <img class="w-100 d-block wow animate__animated animate__fadeInRight"src="./assets/home/FOOTER/pago_premios.jpg" alt="Gestion">
            </div>
        </div>
        <div class="row sombraRecuadro wow animate__animated animate__fadeInUp">
            <div class="col-sm-6 col-md-6 lineaVertical p-5">
                <p class=""><span class="opensans font-weight-700 letter-spacing1-4 line-height23 text-blue">Para premios hasta $ 1.709.000</span><br>
                <span class="text-gray-dark">Los requisitos para cobrar su premio son:</span></p>
                <ul>
                    <li>Presentar documento de identidad.</li>
                    <li>Diligenciar formulario ganador al respaldo con la siguiente información:</li>
                    <li>Nombres y apellidos completos.</li>
                    <li>Número de identificación.</li>
                    <li>Dirección.</li>
                    <li>Teléfono.</li>
                    <li>Firma.</li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-6 p-5">
                <p><span class="opensans font-weight-700 letter-spacing1-4 line-height23 text-blue">Para premios superiores a $ 1.709.000</span><br>
                    <span class="text-gray-dark">Los requisitos para cobrar su premio son:</span></p>
                    <ul>
                        <li>Presentar documento de identidad.</li>
                        <li>Diligenciar formulario ganador al respaldo con la siguiente información:</li>
                        <li>Nombres y apellidos completos.</li>
                        <li>Número de identificación.</li>
                        <li>Dirección.</li>
                        <li>Teléfono.</li>
                        <li>Firma.</li>
                        <li>Fotocopia del documento de identidad. </li>
                        <li>Suministrar la información solicitada por nuestro cajero para el diligenciamiento del Reporte para transacciones y pago de premios (Mayores a 48 UVT).</li>
                        <li>Firmar y colocar la huella en el Reporte para transacciones y pago de premios (Mayores a 48 UVT) entregado por nuestro cajero.</li>
                    </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xs-12 col-md-12">
                <h3 class="opensans font-weight-700 letter-spacing1-4 line-height23 text-blue text-center">Términos y condiciones</h3>
                <p class="text-center">Los requisitos para cobrar su premio son:</p>
                <ul class="wow animate__animated animate__fadeInUp">
                    <li>Apuestas permanentes de conformidad con la Ley 643 de 2001 (Decreto 777 de 2004).</li>
                    <li>Plan de Premios de conformidad con el Decreto No. 1350 del 27 Mayo de 2003 (Artículo 3 – Estructura del Plan de Premios).</li>
                    <li>Cada Juego de suerte y azar autorizado tiene su propio plan de premios y el apostador lo acepta de esa forma.</li>
                    <li>El Jugador elige la modalidad de la apuesta y sobre esta elección se liquida el premio.</li>
                    <li>El premio es pagadero al portador del formulario ganador.</li>
                    <li>El cobro de premios se aplica de conformidad a lo estipulado en el artículo 12 de la Ley 1393 de 2010.</li>
                    <li>Aplica Retención en la Fuente de conformidad con los artículos 317 y 404-1 del Estatuto Tributario.</li>
                    <li>Caducidad de conformidad a lo dispuesto en la Ley 1393 de 2010.</li>
                    <li>Los documentos validos para el cobro de todos los premios son los siguientes documentos:</li>
                    <li>Para persona con nacionalidad Colombiana: Cédula de Ciudadanía</li>
                    <li>Para personas extranjeras: Cédula de Extranjería (Expedida por la República de Colombia) vigente o pasaporte.</li>
                </ul>
            </div>
        </div>
    </div>
</div>