<div class="financieros_pagina bk-gray pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title35 text-center d-block text-uppercase mb-3">Estados Financieros</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4 p-3 d-flex">
                    <div class="card d-flex justify-content-center p-4 border-radius border-0 box-shadow w-100">
                        <p class="text-center mb-5">
                            <img class="img-fluid" src="./assets/financieros_page/ESTADOSFINANCIEROSPNG.png" alt="Card image cap">
                        </p>
                        <h3 class="text-center text-blue font-weight-bold">ESTADOS FINANCIEROS</h3>
                    </div>
            </div>
            <div class="col-xs-12 col-md-4 p-3 d-flex">
                    <div class="card d-flex justify-content-center p-4 border-radius border-0 box-shadow w-100">
                        <p class="text-center mb-5">
                            <img class="img-fluid" src="./assets/financieros_page/REVELACIONESPNG.png" alt="Card image cap">
                        </p>
                        <h3 class="text-center text-blue font-weight-bold">REVELACIONES</h3>
                    </div>
            </div>
            <div class="col-xs-12 col-md-4 p-3 d-flex">
                    <div class="card d-flex justify-content-center p-4 border-radius border-0 box-shadow w-100">
                        <p class="text-center mb-5">
                            <img class="img-fluid" src="./assets/financieros_page/REVISORFISCALPNG.png" alt="Card image cap">
                        </p>
                        <h3 class="text-center text-blue font-weight-bold">DICTAMEN DEL REVISOR FISCAL</h3>
                    </div>
            </div>
        </div>
    </div>
</div>