<div class="cultura-antilavado_pagina bk-gray pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{ 'width':'350px','height':'45px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <h3 class="montserrat font-weight-700 size35 line-height42 color-title">{{ titulo_data }}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <ngx-skeleton-loader count="10" *ngIf="loader" animation="progress" [theme]="{ 'height':'35px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader" class="nav flex-column nav-pills wow animate__animated animate__fadeInLeft" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <ng-container *ngFor="let item of item_menu_data; let index = index">
                        <a class="nav-link" [attr.id]="'v-tab-'+index" [ngClass]="{'active': index === activePillIndex}" data-toggle="pill" [attr.href]="'#'+'v-'+index" role="tab" aria-selected="true" (click)="selectPill(index)">{{ item.titulo_item }}</a>
                    </ng-container>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'230px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="5" *ngIf="loader" animation="progress" [theme]="{height:'35px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader" class="tab-content" id="v-tabContent">
                    <ng-container *ngFor="let data of item_menu_data; let index = index">
                        <div class="tab-pane fade" [ngClass]="{'show active': index === activePillIndex}" [attr.id]="'#'+'v-'+index" role="tabpanel">
                            <img class="img-fluid mb-5 wow animate__animated animate__fadeInRight" *ngIf="data.imagen1" src="{{ data.imagen1 }}" alt="Antilavado 1">
                            <img class="img-fluid mb-5 wow animate__animated animate__fadeInRight" *ngIf="data.imagen2" src="{{ data.imagen2 }}" alt="Antilavado 2">
                            <img class="img-fluid mb-5 wow animate__animated animate__fadeInRight" *ngIf="data.imagen3" src="{{ data.imagen3 }}" alt="Antilavado 3">
                            <iframe width="100%" height="315" *ngIf="data.link_video" [src]="urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </ng-container>

                    <!--
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <img class="w-100 mb-5 wow animate__animated animate__fadeInRight" src="./assets/anticorrupcion_page/antilavado-1.png" alt="Corrupción">
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <img class="w-100 mb-5 wow animate__animated animate__fadeInRight" src="./assets/anticorrupcion_page/antilavado-2.jpg" alt="Corrupción">
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <img class="w-100 mb-5 wow animate__animated animate__fadeInRight" src="./assets/anticorrupcion_page/antilavado-3.jpg" alt="Corrupción">
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <img class="w-100 mb-4 wow animate__animated animate__fadeInRight" src="./assets/anticorrupcion_page/antilavado-4.jpg" alt="Corrupción">
                    </div>
                    <div class="tab-pane fade" id="v-pills-en-linea" role="tabpanel" aria-labelledby="v-pills-en-linea-tab">
                        <img class="w-100 mb-5 wow animate__animated animate__fadeInRight" src="./assets/anticorrupcion_page/11PNG.jpg" alt="Corrupción">
                        <div class="row">
                            <div class="col-xs-12 col-md-6 mb-5">
                                <img class="w-100 d-block" src="./assets/anticorrupcion_page/antilavado-5.jpg" alt="Protección">
                            </div>
                            <div class="col-xs-12 col-md-6 mb-5">
                                <img class="w-100 d-block" src="./assets/anticorrupcion_page/Image1PNG.jpg" alt="Protección">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-denuncio" role="tabpanel" aria-labelledby="v-pills-denuncio-tab">
                        <img class="w-100 mb-5 wow animate__animated animate__fadeInRight" src="./assets/anticorrupcion_page/antilavado-6.jpg" alt="Corrupción">
                    </div>
                    <div class="tab-pane fade" id="v-pills-proteccion" role="tabpanel" aria-labelledby="v-pills-proteccion-tab">
                        <img class="w-100 mb-5 wow animate__animated animate__fadeInRight" src="./assets/anticorrupcion_page/antilavado-7.jpg" alt="Corrupción">
                    </div>
                    <div class="tab-pane fade" id="v-pills-prevencion" role="tabpanel" aria-labelledby="v-pills-prevencion-tab">
                        <iframe class="mb-4" width="100%" height="315" src="https://www.youtube.com/embed/OHUodjTDcO8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <img class="w-100 mb-5 wow animate__animated animate__fadeInRight" src="./assets/anticorrupcion_page/antilavado-8.jpg" alt="Corrupción">
                    </div>
                    <div class="tab-pane fade" id="v-pills-lavado" role="tabpanel" aria-labelledby="v-pills-lavado-tab">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/4vYEzj3KGos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="tab-pane fade" id="v-pills-prevencion2" role="tabpanel" aria-labelledby="v-pills-prevencion2-tab">
                        <img class="w-100 mb-5 wow animate__animated animate__fadeInRight" src="./assets/anticorrupcion_page/antilavado-9.jpg" alt="Corrupción">
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>