<div class="quienes_pagina">
    <div class="section1 bk-gray mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-6 pl-100">
                    <h3 class="title-h3 pt-5 pb-3">{{ quienesSomos_data.title.rendered }}</h3>
                    <p class="txt-normal text-justify" [innerHTML]="quienesSomos_data.content.rendered"></p>
                </div>
                <div class="col-xs-12 col-md-6 pr-0">
                    <img class="float-right img-fluid d-inline-block wow animate__animated animate__fadeInRight" src="{{ quienesSomos_data.acf.imagen }}" alt="grupo">
                </div>
            </div>
        </div>
    </div>
    <div class="section2 bk-white pt-5 pb-5 mb-5" id="video-institucional">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 wow animate__animated animate__fadeInLeft">
                    <iframe width="560" height="315" [src]="urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-xs-12 col-md-6 pl-5">
                    <div>
                        <img class="pr-4" src="{{ quienesSomos_data.acf.icono_mision }}" alt="Misión">
                        <h4 class="title-mision">{{ quienesSomos_data.acf.titulo_mision }}</h4>
                    </div>
                    <p class="txt-normal" [innerHTML]="quienesSomos_data.acf.descripcion_mision"></p>
                    <br>
                    <div>
                        <img class="pr-4" src="{{ quienesSomos_data.acf.icono_vision }}" alt="Visión">
                        <h4 class="title-mision">{{ quienesSomos_data.acf.titulo_vision }}</h4>
                    </div>
                        <p class="text-justify txt-normal" [innerHTML]="quienesSomos_data.acf.descripcion_vision"></p>
                </div>
            </div>
        </div>
    </div>
</div>