<div class="politicas-fegane_pagina pt-5 pb-5 bk-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="d-block w-100 mb-4" src="./assets/home/FOOTER/politicas_ganePNG.jpg" alt="Banner Políticas">
                <h3 class="montserrat font-weight-700 size35 line-height42 color-title">Políticas FEGANE</h3>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInRight">Apreciado Cliente, Proveedor y Colaborador de Redcolsa y su marca comercial Gane<br>
                    Para dar cumplimiento a lo previsto en el artículo 10 del Decreto 1377 del 27 de junio de 2013, reglamentario de la ley, la empresa Red Colombiana de Servicios S.A., en adelante Redcolsa, se permite informar que, con anterioridad a la expedición del mismo, hemos recolectado algunos datos personales con ocasión de nuestra actividad y para prestarle un mejor servicio a nuestros clientes.<br>
                     <br>
                    Por esto y para fines del citado artículo, solicitamos su consentimiento para continuar tratando sus datos personales de manera legal, lícita, segura y confiable para las finalidades señaladas en nuestra autorización de tratamiento de datos personales.<br>
                     <br>
                    Si después de 30 días hábiles, contados a partir de la fecha de esta publicación, usted no se ha pronunciado respecto al objeto de esta comunicación, Redcolsa continuará realizando tratamiento de sus datos personales para las finalidades establecidas en nuestra política de tratamiento de Información, sin perjuicio de la facultad que tiene de ejercer en cualquier momento sus derechos.<br>
                     <br>
                    REDCOLSA RED COLOMBIANA DE SERVICIOS S.A. con su marca comercial Gane, ha creado sus Políticas de Tratamiento de Información en las cuales se definen, entre otros, los principios que cumpliremos al recolectar, almacenar, usar y realizar cualquier actividad con sus datos personales. En la misma también se establecen los mecanismos para que usted ejerza los derechos consagrados en el artículo 15 de la Constitución Nacional, la Ley Estatutaria 1581 de 2012 y el Decreto 1377 de 2013.<br>
                     <br>
                    El tratamiento de la información y/o datos personales será necesario para el desarrollo de las actividades que ejecuta REDCOLSA, por lo cual comprende las siguientes finalidades:<br>
                    </p>
                    <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInLeft">a. Inscripción como cliente de Redcolsa.<br>
                        <br>
                        b. La venta y operación única de juegos legales de suerte y azar.<br>
                        <br>
                        c. Servicios de giros, recaudos empresariales, recargas, SOAT.<br>
                        <br>
                        d. Garantizar oportunamente en la entrega de premios a los clientes.<br>
                        <br>
                        e. Garantizar disponibilidad en las redes y plataformas tecnológicas de los productos que se entregan a sus clientes.<br>
                        <br>
                        f. Mejorar continuamente los procesos del Sistema Gestión de la Calidad.<br>
                        <br>
                        g. Facilitar procedimientos complementarios con compañías filiales o subsidiarias para prestar un servicio integral a los consumidores tanto por parte de Redcolsa, o de sus aliados comerciales quienes con los datos personales almacenados en sus bases generan valores agregados para sus clientes.<br>
                        <br>
                        h. Compartir los datos personales o las bases de datos tratadas por la compañía con sus compañías asociadas y evaluar la calidad de los servicios ofrecidos por Redcolsa.<br>
                        <br>
                        i. Para la fidelización, perfilamiento de sus clientes (conocimiento de sus gustos, hábitos de consumo), análisis de características demográficas, elaborar encuestas de satisfacción y entrevistas de opinión, entre otros.<br>
                        <br>
                        j. Mejorar la atención al cliente y su satisfacción, crear promociones, innovar y perfeccionar los productos y servicios ofrecidos, y dar a conocer noticias de interés y novedades<br>
                        <br>
                        k. Estudios de seguridad y/o de prueba ante una autoridad judicial o administrativa.<br>
                        <br>
                        l. Fines estadísticos, de consulta, gremiales y técnico-actuariales.<br>
                        <br>
                        m. Envío de comunicaciones de interés, comerciales y publicitarias por cualquier medio físico o electrónico (correo, SMS, MMS, fax, redes sociales, etc.) sobre productos o servicios ofrecidos por la empresa o sus aliados comerciales y/o estratégicos con los se pacte algún acuerdo comercial.<br>
                        <br>
                        n. Complementar la información y en general, adelantar las actividades necesarias para gestionar las solicitudes, quejas y reclamos.<br>
                        <br>
                        a. Desarrollar y gestionar procesos de reclutamiento, selección y contratación de personal.<br>
                        <br>
                        b. Realizar estudios de seguridad (consultar y verificar) información personal, familiar, sobre estudios y títulos académicos, antecedentes laborales, disciplinarios y judiciales, información financiera, crediticia, comercial y reconocimientos, con instituciones educativas, autoridades judiciales, entidades públicas, centrales de riesgo, empresas y ONGS; bien sea de forma directa o a través de terceros especializados en esta actividad.<br>
                        <br>
                        c. Aspectos Laborales y de Seguridad Social y aquellos relacionados con el (los) contrato(s) que celebre o pretenda celebrar con Redcolsa.<br>
                        <br>
                        d. Dar cumplimiento a obligaciones tributarias y de registros comerciales, corporativos y contables de Redcolsa de acuerdo a las disposiciones legales vigentes.<br>
                        <br>
                        e. La transmisión de datos a terceros para fines administrativos y/u operativos, como expedición de carnets, de certificados, entre otros.<br>
                        <br>
                        f. Crear y alimentar la base de datos de Redcolsa.<br>
                        <br>
                        g. Administrar comunicaciones de tipo interno.<br>
                        <br>
                        h. Administrar los datos del colaborador y su familia, para temas relacionados con remuneraciones, contribuciones, obligaciones, prestaciones, impuestos y demás información necesaria (servicio médico, becas, formación, entre otros), por parte de las áreas de Gestión Humana; así como la participación en programas corporativos o sociales.<br>
                        <br>
                        i. Gestionar la correcta integración de los datos y los expedientes del personal y la generación de documentos y datos solicitados por el colaborador.<br>
                        <br>
                        j. Gestionar el control de asistencia, acceso físico y lógico a instalaciones y correcta asignación y uso de activos y herramientas de trabajo de la empresa.<br>
                        <br>
                        k. Gestión de los datos de carácter personal sobre desempeño, valoración y capacitación sobre habilidades, competencias y seguridad de los colaboradores.<br>
                        <br>
                        l. Fines estadísticos, de consulta, gremiales y técnico-actuariales.<br>
                        <br>
                        m. La solicitud, procesamiento, conservación, verificación, consulta, suministro, reporte o actualización de cualquier información relacionada con el comportamiento financiero, crediticio o comercial a los operadores de bancos de datos o centrales de información autorizados por la legislación, con fines estadísticos de verificación del riesgo crediticio o de reporte histórico de comportamiento comercial.<br>
                        <br>
                        a. Desarrollar procesos de evaluación, selección, adjudicación de contratos, seguimiento del desempeño y reevaluación de contratistas y/o proveedores de Redcolsa.<br>
                        <br>
                        b. Administrar la compra de productos y servicios.<br>
                        <br>
                        c. Adelantar el proceso relativo al trámite, seguimiento, pago y reembolso por los servicios prestados o los productos entregados.<br>
                        <br>
                        d. Cumplir las normas aplicables a proveedores y contratistas y lo dispuesto por el ordenamiento jurídico colombiano en materia laboral y de seguridad social.<br>
                        <br>
                        e. Facilitar procedimientos complementarios con compañías filiales o subsidiarias para prestar un servicio integral a los consumidores tanto por parte de Redcolsa, o de sus aliados comerciales quienes con los datos personales almacenados en sus bases generan valores agregados para sus clientes.<br>
                        <br>
                        f. Compartir los datos personales o las bases de datos tratadas por la compañía con sus compañías asociadas y evaluar la calidad de los servicios ofrecidos por Redcolsa.<br>
                        <br>
                        g. Asegurar la correcta integración de los datos y los expedientes de los proveedores.<br>
                        <br>
                        h. Controlar el acceso físico y lógico a instalaciones y activos de la empresa.<br>
                        <br>
                        i. Control y prevención del fraude.
                    </p>
                    <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInRight"><span class="font-weight-700">De acuerdo con lo contemplado por la normativa vigente aplicable en materia de tratamiento de datos, los titulares de los datos personales, tienen todos los derechos que establece la ley 1581 de 2012 y el decreto reglamentario 1377 de 2013, como son entre otros:</span><br>
                        <br>
                        a. Acceder, conocer, actualizar, rectificar, solicitar la supresión de sus datos personales y/o revocar la autorización otorgada para el Tratamiento de los mismos, mediante la presentación de un reclamo, de acuerdo con lo establecido en el artículo 15 de la Ley 1581 de 2012. La solicitud de supresión de la información y la revocatoria de la autorización no procederán cuando el Titular tenga un deber legal o contractual de permanecer en la base de datos.<br>
                        <br>
                        b. Solicitar prueba de la autorización de tratamiento otorgada a Redcolsa, salvo cuando expresamente se exceptúe como requisito para el Tratamiento, de conformidad con lo previsto en el artículo 10 de la presente ley 1581 de 2012.<br>
                        <br>
                        c. Ser informado previa solicitud, respecto del uso que se le ha dado a sus datos personales.<br>
                        <br>
                        d. Presentar ante la Superintendencia de Industria y Comercio, quejas por infracciones a lo dispuesto en la ley 1581 de 2012.<br>
                        <br>
                        Redcolsa, garantiza a los titulares de los datos personales el acceso para su conocimiento y actualización, a través de medios idóneos para tal fin.<br>
                        <br>
                        Para efectuar consultas o solicitar la supresión de los datos, el titular puede utilizar los siguientes canales de servicio:
                        </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xs-12 col-md-4">
                <p class="letter-spacing0-93 text-gray-dark"><strong>Comunicado por escrito a la dirección:</strong><br>
                    Calle 13 No. 4 – 25<br>
                    Plazoleta Edificio Carvajal<br>
                    Santiago de Cali.
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <p class="letter-spacing0-93 text-gray-dark"><strong>Línea de servicio al cliente:</strong><br>
                    (57) (2) 682 3434
                </p>
            </div>
            <div class="col-xs-12 col-md-4"></div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <p class="letter-spacing0-93 text-gray-dark"><strong>Cordialmente,</strong><br>
                    REDCOLSA- RED COLOMBIANA DE SERVICIOS S.A.
                </p>
            </div>
        </div>
    </div>
</div>