<div class="pagos_pagina">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h2 class="title-main text-center mt-5">Pagos</h2>
                <p class="text-center mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <hr class="mb-5">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xs-12 col-md-3 align-content-stretch align-items-stretch">
                <div class="card card-pagos">
                    <div class="card-body pt-4 pb-4">
                        <img class="mb-3 d-block mx-auto" src="./assets/pagos_page/EMCALIPNG.png" alt="Emcali">
                        <p>Ahora pagar los servicios públicos de EMCALI, las facturas de Protelco…</p>
                        <a class="text-center d-block" href="#">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 align-content-stretch align-items-stretch">
                <div class="card card-pagos">
                    <div class="card-body pt-4 pb-4">
                        <img class="w-100 mb-3 d-block mx-auto" src="./assets/pagos_page/PASAPORTEPNG.png" alt="Pasaporte">
                        <p>Para aquellos clientes que desean cumplir su sueño de viajar al exterior…</p>
                        <a class="text-center d-block" href="#">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 align-content-stretch align-items-stretch">
                <div class="card card-pagos">
                    <div class="card-body pt-4 pb-4">
                        <img class="w-100 mb-3 d-block mx-auto" src="./assets/pagos_page/BANCO-WPNG.png" alt="Bancow">
                        <p>¡De la mano de las entidades bancarias! En los puntos de servicio…</p>
                        <a class="text-center d-block" href="#">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 align-content-stretch align-items-stretch">
                <div class="card card-pagos">
                    <div class="card-body pt-4 pb-4">
                        <img class="w-100 mb-3 d-block mx-auto" src="./assets/pagos_page/BitmapPNG.png" alt="Registraduría">
                        <p>Para quienes necesiten realizar el pago de los diferentes servicios…</p>
                        <a class="text-center d-block" href="#">Leer más</a>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-xs-12 col-md-1"></div>
            <div class="col-xs-12 col-md-3 align-content-stretch align-items-stretch">
                <div class="card card-pagos">
                    <div class="card-body pt-4 pb-4">
                        <img class="mb-3 d-block mx-auto" src="./assets/pagos_page/BEPS_CopyPNG.png" alt="Emcali">
                        <p>El monto mínimo para la transacción es de cinco mil pesos ($5.000) El usuario...</p>
                        <a class="text-center d-block" href="#">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 align-content-stretch align-items-stretch">
                <div class="card card-pagos">
                    <div class="card-body pt-4 pb-4">
                        <img class="w-100 mb-3 d-block mx-auto" src="./assets/pagos_page/LOS-OLIVOS_CopyPNG.png" alt="Pasaporte">
                        <p>Porque Gane conoce la importancia de la tranquilidad frente a los momentos…</p>
                        <a class="text-center d-block" href="#">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 align-content-stretch align-items-stretch">
                <div class="card card-pagos">
                    <div class="card-body pt-4 pb-4">
                        <img class="w-100 mb-3 d-block mx-auto" src="./assets/pagos_page/comfandi-logo_copyPNG.png" alt="Bancow">
                        <p>¡En Gane le apostamos a la familia! Ahora los afiliados a la Caja de Compensación…</p>
                        <a class="text-center d-block" href="#">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12"><p class="title-general text-uppercase text-center">Otros convenios de pago</p></div>
        </div>
        <div class="row mb-5 mt-5 h-100">
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/logo-alliance-blancoPNG.png" alt="Alliance"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/DIRECTVPNG.png" alt="DIRECTV"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/CHARLEMOSPNG.png" alt="Charlemos"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/P9Oc-d6x_400x400PNG.png" alt="Hospital"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/WARENA- BOLETIRAPNG.png" alt="Warena"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/IMAPNG.png" alt="Ima"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/ACUAVALLEPNG.png" alt="Acuavalle"></div>
        </div>
        <div class="row mb-5 mt-5 h-100">
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/TU_COMPRAPNG.png" alt="TuCompra"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/POLITECNICO_INTERNACIONALDEOCCIDENTEPNG.png" alt="Politécnico Internacional"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/ALTIPALPNG.png" alt="Altipal"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/AVONPNG.png" alt="Avon"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/BitmapPNG.png" alt="Registraduría"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/SUCREDITOPNG.png" alt="Su crédito"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/logo-funerales-del-valle-h-950x128-1PNG.png" alt="Funerales del Valle"></div>
        </div>
        <div class="row mb-5 mt-5 h-100">
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/PLACE TO PAYPNG.png" alt="Place to Pay"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/JARDINES DEL RENACERPNG.png" alt="Jardines del Renacer"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/TNCOLOMBIAPNG.png" alt="TNColombia"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/ELECTROMILLONARIAPNG.png" alt="Electromillonaria"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/CECEPPNG.png" alt="Cecep"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/GASES-DE-OCCIDENTEPNG.png" alt="Gases de occidente"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/SINBAPNG.png" alt="Sinba"></div>
        </div>
        <div class="row mb-5 mt-5 h-100">
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/electrojaponesaPNG.png" alt="Electrojaponesa"></div>
            <div class="col my-auto"><img class="d-block mx-auto" src="./assets/pagos_page/FULL-MOVILPNG.png" alt="Full movil"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/PREVERPNG.png" alt="Prever"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/MARKETING-PERSONALPNG.png" alt="Marketing Personal"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/PREDIALPNG.png" alt="Predial"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/SISTECREDITOPNG.png" alt="Sistecrédito"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/MOVISTARPNG.png" alt="Movistar"></div>
        </div>
        <div class="row mb-5 mt-5 h-100">
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/CARRUSELPNG.png" alt="Carrusel"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/BANCO_MUNDOMUJERPNG.png" alt="Banco Mujer"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/Logo_Grupo_CorserviPNG.png" alt="Corservir"></div>
            <div class="col my-auto"><img class="w-100 d-block mx-auto" src="./assets/pagos_page/KEEWAYPNG.png" alt="KEEWAY"></div>
            <div class="col my-auto"></div>
            <div class="col my-auto"></div>
            <div class="col my-auto"></div>
        </div>
    </div>
</div>