<div class="contactenos_pagina pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <ngx-skeleton-loader count="8" *ngIf="loader" animation="progress" [theme]="{height:'35px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <h3 class="size24 line-height29 opensans text-blue font-weight-700 pb-1">¡Escríbenos!</h3>
                    <form (ngSubmit)="enviarForm()" #formularioContacto="ngForm" id="formulario-contact" class="contactenos">
                        <div class="form-row pt-2 pb-2">
                            <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="nombre">Nombre completo</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" required>
                            <small *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                Nombre es un campo requerido.
                            </small>
                        </div>
                        <div class="form-row pt-2 pb-2">
                            <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="email">Correo Electrónico</label>
                            <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" email="true" required>
                            <small *ngIf="email.invalid && (email.dirty || email.touched)">
                                Ingrese un correo electrónico válido.
                            </small>
                        </div>
                        <div class="form-row pt-2 pb-2">
                            <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="telefono">Número de Teléfono</label>
                            <input type="tel" class="form-control" id="telefono" name="telefono" #telefono="ngModel" [(ngModel)]="user.telefono" pattern="^\d+$" required>
                            <small *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                                Ingrese un teléfono válido.
                            </small>
                        </div>
                        <div class="form-row form-group pt-2 pb-2">
                            <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="tipoConsulta">Tipo de consulta</label>
                            <select class="form-control tipo-consulta" id="selectConsulta" name="selectConsulta" #consulta="ngModel" [(ngModel)]="user.consulta" required>
                              <option value="" disabled>Elija una opción</option>
                              <option>Información</option>
                              <option>PQRS</option>
                            </select>
                          </div>
                          <small *ngIf="consulta.invalid && (consulta.dirty || consulta.touched)">
                            El tipo de consulta es un campo requerido.
                          </small>
                        <div class="form-row pt-2 pb-2">
                            <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="asunto">Mensaje</label>
                            <textarea class="form-control" id="asunto" name="asunto" placeholder="Escribe aquí tu mensaje" #asunto="ngModel" [(ngModel)]="user.asunto" required></textarea>
                            <small *ngIf="asunto.invalid && (asunto.dirty || asunto.touched)">
                                El mensaje es un campo requerido.
                              </small>
                        </div>
                        <input type="submit" class="btn btn-primary btn-blue mt-4 w-40 mx-auto d-block" name="enviar" value="Enviar" [disabled]="formularioContacto.invalid">
                      </form>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <img class="w-100 d-block wow animate__animated animate__rotateInUpLeft" src="./assets/contactenos_page/banner_contacto.png" alt="Contactenos">
            </div>
        </div>
    </div>
</div>