<div class="salud_pagina mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <img class="d-block w-100 mb-5 wow animate__animated animate__fadeInUp" *ngIf="banner_data" src="{{banner_data}}" alt="Banner Principal Salud">
                <h3 class="montserrat font-weight-700 size35 line-height42 color-title">{{ titulo_data }}</h3>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp" [innerHTML]="texto_data"></p>
            </div>
        </div>
        <div class="row mt-5 mb-5 wow animate__animated animate__fadeInUp">
            <div class="col-xs-12 col-md-6">
                <table class="full-table">
                    <thead>
                            <th colspan="2">{{ seccion2_tabla1_data.titulo_interno_tabla }}</th>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of seccion2_tabla1_data.info_tabla">
                            <tr>
                                <td>{{ data.item1 }}</td>
                                <td>{{ data.item2 }}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <table class="full-table mt-5 mb-5">
                    <thead>
                        <th colspan="2">{{ seccion2_tabla2_data.titulo_interno_tabla }}</th>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of seccion2_tabla2_data.textos_tabla">
                            <tr *ngFor="let itemdata of data.items_tabla">
                                <td>{{ itemdata.item1 }}</td>
                                <td [attr.rowspan]="data.items_tabla.length" *ngIf="itemdata.item2">{{ itemdata.item2 }}</td>
                            </tr>
                        </ng-container>
                    </tbody>                    
                </table>
            </div>
            <div class="col-xs-12 col-md-6">
                    <p class="letter-spacing0-93 text-gray-dark font-weight-500" [innerHTML]="seccion2_data.texto_general"></p>
                    <p class="letter-spacing0-93 text-gray-dark font-weight-500" [innerHTML]="seccion2_data.texto_informes"></p>
            </div>
        </div>
    </div>
</div>