<div class="campana_pagina pb-5">
    <div class="container mt-5">
        <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'35px' }"></ngx-skeleton-loader>
        <h3 *ngIf="!loader" class="title44 text-center d-block mb-5 wow animate__animated animate__fadeInUp">Campañas</h3>
        <div>
            <ngx-skeleton-loader class="d-flex" count="4" *ngIf="loader" animation="progress" appearance="circle" [theme]="{'width':'100%', 'height':'235px', 'border-radius':'12px' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader class="d-flex" count="4" *ngIf="loader" animation="progress" appearance="circle" [theme]="{'width':'100%', 'height':'235px', 'border-radius':'12px' }"></ngx-skeleton-loader>
        </div>
        <div *ngIf="!loader">
            <div class="row">
                <ng-container *ngFor="let campanas of campanas_data">
                    <div class="col-sm-3">
                        <div class="card border-0 card-shadow-hover">
                            <a (click)="verCampana(campanas.id)" *ngIf="campanas.acf.imagen_destacada == null">
                                <p class="text-center pt-2 pb-2">
                                    <i class="far fa-image text-gray d-block w-100" style="font-size:8em"></i>
                                    <span><em class="text-gray">Imagen no disponible</em></span>
                                </p>
                            </a>
                            <a (click)="verCampana(campanas.slug)" *ngIf="campanas.acf.imagen_destacada != null">
                                <img class="card-img-top" src="{{ campanas.acf.imagen_destacada }}" alt="Card image cap">
                            </a>
                            <div class="card-body p-2">
                                <h5 class="card-title text-blue font-weight-bold">{{ campanas.title.rendered }}</h5>
                                <h5 *ngIf="campanas.acf.estado === 'Vigente'">
                                    <span class="badge badge-warning text-white font-weight-normal pr-3 pl-3 pb-1">{{ campanas.acf.estado }}</span>
                                </h5>
                                <h5 *ngIf="campanas.acf.estado === 'Terminada'">
                                    <span class="badge badge-success text-white font-weight-normal pr-3 pl-3 pb-1">{{ campanas.acf.estado }}</span>
                                </h5>
                                <small class="text-blue"><i class="far fa-clock"></i> {{ campanas.acf.fecha_de_inicio | date:'fullDate' | titlecase }}</small>
                                <p class="size16 card-text mb-1 font-weight-bold line-height1-4 text-blue">{{ campanas.acf.sub_titulo }}</p>
                                <a (click)="verCampana(campanas.slug)" class="size13 text-yellow">Más información <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
