<div class="periodico_pagina bk-gray pt-5 pb-5">
    <div class="container">
        <div class="row pb-4">
            <div class="col-md-12">
                <div>
                    <img class="d-inline-block pr-4 mt-10n" src="./assets/periodico_page/periodicoPNG.png" alt="">
                    <h2 class="title35 d-inline-block">Periódico Gane Al Día</h2>
                </div>
            </div>
        </div>
        <div class="row wow animate__animated animate__fadeInUp">
            <div class="col-xs-12 col-md-3">
                <div class="card-periodico mt-4 mb-4">
                    <img class="w-100 d-block" src="./assets/periodico_page/BitmapPNG-1.png" alt="Periódico">
                    <h3 class="size18 line-height22 montserrat color-title font-weight-bold pt-2 pb-2 mb-0">Gane al día - Edición #53</h3>
                    <a class="ver-periodico" href="#">Ver periódico <i class="ml-3 fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="card-periodico mt-4 mb-4">
                    <img class="w-100 d-block" src="./assets/periodico_page/BitmapPNG-3.png" alt="Periódico">
                    <h3 class="size18 line-height22 montserrat color-title font-weight-bold pt-2 pb-2 mb-0">Gane al día - Edición #53</h3>
                    <a class="ver-periodico" href="#">Ver periódico <i class="ml-3 fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="card-periodico mt-4 mb-4">
                    <img class="w-100 d-block" src="./assets/periodico_page/BitmapPNG.png" alt="Periódico">
                    <h3 class="size18 line-height22 montserrat color-title font-weight-bold pt-2 pb-2 mb-0">Gane al día - Edición #53</h3>
                    <a class="ver-periodico" href="#">Ver periódico <i class="ml-3 fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="card-periodico mt-4 mb-4">
                    <img class="w-100 d-block" src="./assets/periodico_page/BitmapPNG-4.png" alt="Periódico">
                    <h3 class="size18 line-height22 montserrat color-title font-weight-bold pt-2 pb-2 mb-0">Gane al día - Edición #53</h3>
                    <a class="ver-periodico" href="#">Ver periódico <i class="ml-3 fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row mb-5 mt-5">
            <div class="col-xs-12 col-md-3">
                <div class="card-periodico mt-4 mb-4">
                    <img class="w-100 d-block" src="./assets/periodico_page/BitmapPNG-1.png" alt="Periódico">
                    <h3 class="size18 line-height22 montserrat color-title font-weight-bold pt-2 pb-2 mb-0">Gane al día - Edición #53</h3>
                    <a class="ver-periodico" href="#">Ver periódico <i class="ml-3 fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="card-periodico mt-4 mb-4">
                    <img class="w-100 d-block" src="./assets/periodico_page/BitmapPNG-3.png" alt="Periódico">
                    <h3 class="size18 line-height22 montserrat color-title font-weight-bold pt-2 pb-2 mb-0">Gane al día - Edición #53</h3>
                    <a class="ver-periodico" href="#">Ver periódico <i class="ml-3 fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="card-periodico mt-4 mb-4">
                    <img class="w-100 d-block" src="./assets/periodico_page/BitmapPNG.png" alt="Periódico">
                    <h3 class="size18 line-height22 montserrat color-title font-weight-bold pt-2 pb-2 mb-0">Gane al día - Edición #53</h3>
                    <a class="ver-periodico" href="#">Ver periódico <i class="ml-3 fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="card-periodico mt-4 mb-4">
                    <img class="w-100 d-block" src="./assets/periodico_page/BitmapPNG-4.png" alt="Periódico">
                    <h3 class="size18 line-height22 montserrat color-title font-weight-bold pt-2 pb-2 mb-0">Gane al día - Edición #53</h3>
                    <a class="ver-periodico" href="#">Ver periódico <i class="ml-3 fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
