<div class="escuela_pagina mt-5 mb-5">
    <div class="container">
        <div class="row h-100">
            <div class="col-xs-12 col-md-6 my-auto">
                <h3 class="montserrat font-weight-700 size35 line-height42 color-title">Escuela de<br>
                    iniciación deportiva
                </h3><br>
                <h4 class="text-gray-dark opensans size19 letter-spacing1-4 line-height23 font-weight-700">REQUISITOS</h4>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInLeft">Para hijos de vendedores entre los 3 y 18 años / Estar activo en la venta. / Presentar registro civil y carné de Gane. / Realizar un pago anual de $ 10.000 mil pesos directamente en la Fundación. / La inscripción se hace en la Fundación para diligenciar los formatos y recibir la carta para ingresar a las sedes donde se practican los deportes.
                </p>
            </div>
            <div class="col-xs-12 col-md-6">
                <img class="d-block w-100 wow animate__animated animate__fadeInRight" src="./assets/home/FOOTER/banner_escuelaPNG.png" alt="Escuela">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <table class="full-table wow animate__animated animate__fadeInUp">
                    <thead>
                            <th colspan="3">Sedes</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="7">NATACIÓN</td>
                            <td>Parque de la Caña</td>
                            <td>Lunes y miércoles de 2 a 4 p.m.</td>
                        </tr>
                        <tr>
                            <td>Unidad Recreativas Villa del sur</td>
                            <td>Martes y jueves de 2 a 4 p.m.</td>
                        </tr>
                        <tr>
                            <td>Unidad Recreativas Diamante</td>
                            <td>martes miércoles y viernes a las 7:30 u 8:30 a.m.<br>
                                martes miércoles y viernes a las 3 u 4 p.m.
                            </td>
                        </tr>
                        <tr>
                            <td>Unidad Recreativa El Vallado</td>
                            <td>miércoles, viernes y sábado 3 p.m.</td>
                        </tr>
                        <tr>
                            <td>Unidad recreativas Ciudad Modelo</td>
                            <td>martes, viernes y sábado a las 2 ó 3 p.m.</td>
                        </tr>
                        <tr>
                            <td>Unidad Recreativas Tory Castro</td>
                            <td>martes, viernes y sábado a las 2 ó 3 p.m.</td>
                        </tr>
                        <tr>
                            <td>Comfandi Pance, Calipso, Delicias y Arroyohondo</td>
                            <td>martes, miércoles y jueves diversos horarios</td>
                        </tr>
                        <tr>
                            <td rowspan="8">FÚTBOL</td>
                            <td>Parque de la Caña</td>
                            <td>martes y jueves de 3:30 a 5:30 p.m.</td>
                        </tr>
                        <tr>
                            <td>Unidad Recreativas Diamante</td>
                            <td>martes y jueves de 4 a 6 p.m.</td>
                        </tr>
                        <tr>
                            <td>Unidad recreativas Ciudad Modelo</td>
                            <td>martes y jueves de 4 a 6 p.m.</td>
                        </tr>
                        <tr>
                            <td>Club Oro Negro-Nuevo Latir</td>
                            <td>martes y jueves menores de 10 años de 3 a 6 p.m.<br>
                                Lunes, miércoles y viernes mayores de 11 años de 3 a 6 p.m.
                            </td>
                        </tr>
                        <tr>
                            <td>Club Frankie Oviedo Cra 73 con cll 3 Buenos Aires</td>
                            <td>martes y jueves menores de 10 años de 3 a 6 p.m.<br>
                                Lunes, miércoles y viernes mayores de 11 años de 3 a 6 p.m.
                            </td>
                        </tr>
                        <tr>
                            <td>Comfandi- Farid Mondragón- Pance</td>
                            <td>lunes y miércoles menores de 10 años de 4 a 6 p.m.<br>
                                martes y jueves mayores de 11 años 4 a 6 p.m.</td>
                        </tr>
                        <tr>
                            <td>Comfandi- Farid Mondragón- Calipso</td>
                            <td>martes y jueves de 4 a 6 p.m.</td>
                        </tr>
                        <tr>
                            <td>Comfandi- Farid Mondragón- Arroyohondo</td>
                            <td>martes y jueves de 4 a 6 p.m.</td>
                        </tr>
                        <tr>
                            <td>LIGA DE GIMNASIA</td>
                            <td>Coliseo del Pueblo</td>
                            <td>lunes y viernes de 2 a 4 p.m.</td>
                        </tr>
                        <tr>
                            <td>LIGA KARATE</td>
                            <td>Canchas Panamericanas</td>
                            <td>dos días a las semana a las 3 u 5 a 7 p.m.</td>
                        </tr>
                        <tr>
                            <td>LIGA DE PATINAJE</td>
                            <td>Canchas Panamericanas</td>
                            <td>Dos días a las semana a las 3 u 5 a 7 p.m.<br>
                                Solo los sábados a las 8 u 10 a.m. a 3 p.m.</td>
                        </tr>
                        <tr>
                            <td>LIGA BAILE DEPORTIVO</td>
                            <td>Estadio Pascual Guerrero</td>
                            <td>lunes, jueves y sábado para niños de 7 a 12 años de 5 a 6:30 p.m.<br>
                                lunes, martes y jueves para mayores de 13 años de 5 a 6:30 p.m.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <p class="letter-spacing0-93 text-gray-dark"><strong>Sede de la Fundación:</strong><br>
                    Calle 9 #4 - Oficina 213<br>
                    Santiago de Cali.<br>
                    (57) (2) 881 20 00
                    </p>
            </div>
        </div>
    </div>
</div>