<div class="vivienda_pagina mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="d-block w-100 mb-5 wow animate__animated animate__fadeInUp" src="./assets/home/FOOTER/banner_viviendaPNG.jpg" alt="Banner Principal Vivienda">
                <h3 class="montserrat font-weight-700 size35 line-height42 color-title wow animate__animated animate__fadeInUp">Vivienda</h3>
                <p class="letter-spacing0-93 text-gray-dark wow animate__animated animate__fadeInUp">En la Fundación Social Gane ayudamos a nuestros vendedores a cumplir el sueño de tener vivienda propia o mejorar la que tienen. Brindamos asesoría para compra de VIS con subsidios del estado, compra de VIS usada, mejoramiento VIS y construcción en lote propio o terraza.<br>
                    <br>
                    Gestionamos el subsidio que otorga Redcolsa (Gane) a través de la fundación Social Gane a su fuerza de ventas. Hacemos alianzas estratégicas con entidades públicas y privadas para consolidar el proceso de adquisición de vivienda propia.<br>
                    <br>                     
                    Desarrollamos el programa Cultura de Ahorro y Pago que les permite tener la posibilidad de acceder a subsidios y/o créditos para mejorar su calidad de vida.
                </p>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Ejes de acción:</h4>
                <ul class="letter-spacing0-93 text-gray-dark size16 wow animate__animated animate__fadeInUp">
                    <li>Adquisición de vivienda nueva o usada para los colaboradores y colocadores de las empresas de apuestas	 vinculadas con la red de servicios.</li>
                    <li>Asesoría para acceder a subsidios gubernamentales, no gubernamentales y créditos hipotecarios.</li>
                    <li>Asesoría para acceder a subsidios de mejoramiento de vivienda propia.</li>
                    <li>Asesoría para acceder a subsidios para construcción en terraza o lote propio.</li>
                </ul><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Metodología de acción:</h4>
                <ul class="letter-spacing0-93 text-gray-dark size16 wow animate__animated animate__fadeInUp">
                    <li>Seleccionamos a los colaboradores y colocadores de apuestas que cumplen los requisitos para ser candidatos a los programas de vivienda propuestos.</li>
                    <li>Informamos sobre los proyectos de vivienda nueva VIS propuestos, para que los colaboradores tomen su decisión.</li>
                    <li>Verificamos, sobre solicitud, la posibilidad de compra de VIS usada.</li>
                    <li>Verificamos la posibilidad de mejoramiento, construcción en lote propio o terraza.</li>
                    <li>Sensibilizamos sobre una cultura de ahorro y pago.</li>
                    <li>Orientamos y apoyamos a las familias en la gestión de subsidios para vivienda.</li>
                    <li>Gestionamos el subsidio que otorga Redcolsa (Gane) a través de Fundación Social Gane.</li>
                    <li>Hacemos alianzas con entidades públicas y privadas para consolidar el proceso de adquisición de vivienda propia.</li>
                    <li>Orientamos y apoyamos a las familias en la gestión y adquisición de créditos para el pago de su vivienda.</li>
                    <li>Hacemos acompañamiento después de adquirida, construida o mejorada la unidad de vivienda.</li>
                </ul><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">Requisitos principales para acceder a subsidios:</h4>
                <p class="letter-spacing0-93 text-gray-dark size16">Para ser seleccionado como candidato al programa de vivienda y acceder a los subsidios estatales, se debe cumplir requisitos de ley y de la empresa, aquí enumeraremos el filtro inicial:</p>
                <ul class="letter-spacing0-93 text-gray-dark size16 wow animate__animated animate__fadeInUp">
                    <li>Estar afiliado al Sisben en los niveles 1 y 2, ó estar afiliado a caja de compensación.</li>
                    <li>No tener propiedad raíz para adquirir VIS.</li>
                    <li>Tener grupo familiar o ingresos entre 2 y 4 smlmv si no lo tiene.</li>
                    <li>Tener ingresos familiares que le permitan pagar un crédito hipotecario.</li>
                    <li>No tener reporte negativo en Centrales de Riesgo (Datacrédito).</li>
                    <li>No haber sido bene¬ficiario de subsidio de vivienda.</li>
                    <li>Acreditar la propiedad del inmueble para mejoramiento y construcción (Certificado de Tradición)</li>
                </ul><br><br>
                <p class="letter-spacing0-93 text-gray-dark"><strong>Sede de la Fundación:</strong><br>
                    Calle 9 #4 - Oficina 213<br>
                    Santiago de Cali.<br>
                    (57) (2) 881 20 00
                    </p>
            </div>
        </div>
    </div>
</div>