<div class="vivienda_pagina mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'235px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="10" *ngIf="loader" animation="progress" [theme]="{height:'35px' }"></ngx-skeleton-loader>
                </div>
                <div *ngIf="!loader">
                    <img class="d-block w-100 mb-5 wow animate__animated animate__fadeInUp" *ngIf="banner_data != false" src="{{banner_data}}" alt="Banner Principal Vivienda">
                    <h3 class="montserrat font-weight-700 size35 line-height42 color-title wow animate__animated animate__fadeInUp">{{ titulo_data }}</h3>
                    <p class="letter-spacing0-93 text-gray-dark size16 wow animate__animated animate__fadeInUp" [innerHTML]="texto1_data"></p>
                    <ng-container *ngFor="let data of texto_con_titulo_data">
                        <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">{{ data.titulo }}</h4>
                        <p class="letter-spacing0-93 text-gray-dark size16 wow animate__animated animate__fadeInUp" [innerHTML]="data.texto"></p>
                    </ng-container>
                    <br>
                    <p class="letter-spacing0-93 text-gray-dark" [innerHTML]="texto_final_data"></p>
                </div>
            </div>
        </div>
    </div>
</div>