<div class="america-cali_pagina mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <img class="w-100 d-block wow animate__animated animate__fadeInLeft" src="./assets/america-cali_page/america-de-cali-gane.jpg" alt="Fácil Seguro">
            </div>
            <div class="col-xs-12 col-md-6">
                <img class="mx-auto d-block img-fluid wow animate__animated animate__fadeInRight" src="./assets/america-cali_page/pasos.png" alt="Fácil Seguro">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <table class="full-table mt-5 mb-5 wow animate__animated animate__fadeInUp">
                    <thead>
                            <th>Sedes</th>
                            <th>Dirección</th>
                            <th>Método de pago</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CALI SUPER CAJA PASARELA VALLE DEL CAUCA</td>
                            <td>CLL 23DN # 5-60</td>
                            <td>EFECTIVO Y DATÁFONO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA 14 CALIMA VALLE DEL CAUCA</td>
                            <td>CRA 1 #70-01</td>
                            <td>EFECTIVO Y DATÁFONO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA CC UNICO VALLE</td>
                            <td>CLL 52 # 3-29</td>
                            <td>EFECTIVO Y DATÁFONO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA COSMOCENTRO 1 VALLE DEL CAUCA</td>
                            <td>CLL 5 # 50-103 LOCAL 127B</td>
                            <td>EFECTIVO Y DATÁFONO</td>
                        </tr>
                        <tr>
                            <td>SEDE CALDAS VALLE DEL CAUCA</td>
                            <td>CLL 5 # 69-14</td>
                            <td>EFECTIVO Y DATÁFONO</td>
                        </tr>
                        <tr>
                            <td>SEDE LA INDEPENDENCIA – VALLE DEL CAUCA</td>
                            <td>CALLE 27 # 40B-02</td>
                            <td>EFECTIVO Y DATÁFONO</td>
                        </tr>
                        <tr>
                            <td>SEDE DIAMANTE VALLE DEL CAUCA</td>
                            <td>CR 29 # 40-32</td>
                            <td>EFECTIVO Y DATÁFONO</td>
                        </tr>
                        <tr>
                            <td>SEDE BONILLA ARAGON – VALLE DEL CAUCA</td>
                            <td>CRA 27 # 91-50</td>
                            <td>EFECTIVO Y DATÁFONO</td>
                        </tr>
                        <tr>
                            <td>SEDE LA RIVERA – VALLE DEL CAUCA</td>
                            <td>CL 70 # 1C-14</td>
                            <td>EFECTIVO Y DATÁFONO</td>
                        </tr>
                        <tr>
                            <td>SEDE CANEY VALLE DEL CAUCA</td>
                            <td>CRA 83C # 25-46</td>
                            <td>EFECTIVO Y DATÁFONO</td>
                        </tr>
                        <tr>
                            <td>SEDE GANE PRINCIPAL CENTRO VALLE DEL CAUCA</td>
                            <td>CLL 13 # 4-17</td>
                            <td>EFECTIVO Y DATÁFONO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA LAFER VALLE DEL CAUCA</td>
                            <td>CLL 23N # 5N-21</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA SANTA MONICA CENTRAL VALLE DEL CAUCA</td>
                            <td>CLL 22 # 6AN-24</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA SUPERMERCADO RENDIDOR VALLE DEL CAUCA</td>
                            <td>AV 2BN # 73BN-35</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA TODELAR VALLE DEL CAUCA</td>
                            <td>AV 6N # 40N-70</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI ACP SUPER CAJA OASIS VALLE DEL CAUCA</td>
                            <td>AV 6N # 17N-69</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA POPULAR VALLE DEL CAUCA</td>
                            <td>CRA 5N # 43A-34</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA GATO NEGRO GANE</td>
                            <td>CRA 15 #33A-09</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA PROSALUD ALFONSO LOPEZ</td>
                            <td>CLL 76 #7P-04</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA LA BASE GANE</td>
                            <td>CRA 7R #63-04</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA COLEGIO EFREN LLANOS 7 AGOSTO GANE</td>
                            <td>CRA 7R #63-04</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA COLEGIO EFREN LLANOS 7 AGOSTO GANE</td>
                            <td>CLL 72B # 9A-04</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA COLEGIO EFREN LLANOS 7 AGOSTO GANE</td>
                            <td>CLL 72B # 9A-04</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA GOBERNACION VALLE DEL CAUCA</td>
                            <td>CRA 7 # 10-10</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA SAN BOSCO VALLE DEL CAUCA</td>
                            <td>CRA 15 # 8-11</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA LA KUTTY VALLE DEL CAUCA</td>
                            <td>CLL 19 # 5-02</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA PLAZA CAICEDO VALLE DEL CAUCA</td>
                            <td>CRA 4 # 11-01</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI GANE SUPER CAJA LA ERMITA VALLE DEL CAUCA</td>
                            <td>CLL 13 2 – 11</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI GANE SUPER CAJA ASTORIA VALLE DEL CAUCA</td>
                            <td>CLL 13 # 2-11</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>SUPER CAJA SILOE VALLE DEL CAUCA</td>
                            <td>DG 51 # 4 OESTE-08</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA PAMPALINDA VALLE DEL CAUCA</td>
                            <td>CLL 5 # 61-48</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA PAMPALINDA VALLE DEL CAUCA</td>
                            <td>CLL 5 # 61-48</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA PLAZA 70 GANE</td>
                            <td>CRA 70 # 1B-68</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA MELENDEZ VALLE DEL CAUCA</td>
                            <td>CLL 4 # 93-93</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA PARQUE DE LAS BANDERAS GANE</td>
                            <td>CLL 5 # 35-22</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA TELEPACIFICO VALLE DEL CAUCA</td>
                            <td>CLL 5 # 38D-142</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA TELEPACIFICO VALLE DEL CAUCA</td>
                            <td>CLL 5 # 38D-142</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA CEMENTERIO SAN JOSE DE SILOE GANE</td>
                            <td>DG 51 # 1 OESTE-126</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA LOS TANQUES SILOE GANE</td>
                            <td>CLL 1 OESTE # 39A-06</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI ACP SUPER CAJA ESTADIO VALLE DEL CAUCA</td>
                            <td>CLL 5 #30-57</td>
                            <td>EFECTIVO</td>
                        </tr>  
                        <tr>
                            <td>CALI SUPER CAJA AUTECO VALLE DEL CAUCA</td>
                            <td>CRA 18A # 13B-49</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA INTER COLON VALLE DEL CAUCA</td>
                            <td>CLL 14 # 25-09</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA BRETANA DOS GANE</td>
                            <td>CLL 10 # 17-23</td>
                            <td>EFECTIVO</td>
                        </tr>   
                        <tr>
                            <td>CALI SUPER CAJA URAPANES VALLE DEL CAUCA</td>
                            <td>CLL 13 # 48BIS-20</td>
                            <td>EFECTIVO</td>
                        </tr> 
                        <tr>
                            <td>CALI SUPER CAJA PANAMERICANO GANE</td>
                            <td>CRA 44 # 12-23</td>
                            <td>EFECTIVO</td>
                        </tr>   
                        <tr>
                            <td>CALI SUPER CAJA PARQUE DEL PERRO GANE</td>
                            <td>CLL 17 # 29A-02</td>
                            <td>EFECTIVO</td>
                        </tr>   
                        <tr>
                            <td>CALI SUPER CAJA PANADERIA LOS ANDES BRETANA GANE</td>
                            <td>CLL 10 # 22A-72</td>
                            <td>EFECTIVO</td>
                        </tr> 
                        <tr>
                            <td>CALI SUPER CAJA EXITO PRIMAVERA VALLE DEL CAUCA</td>
                            <td>CRA 39 # 34-03</td>
                            <td>EFECTIVO</td>
                        </tr>      
                        <tr>
                            <td>CALI SUPER CAJA PASTEL PAN VALLE DEL CAUCA</td>
                            <td>CLL 27 # 37-12</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA CIUDAD 2000 VALLE DEL CAUCA</td>
                            <td>CLL 29 # 67B-06</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA LA UNION VALLE DEL CAUCA</td>
                            <td>CLL 40 # 42A-30</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA FRENTE ALMACEN HOLMES</td>
                            <td>CRA 39B # 40-06</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA POLICIA EL DIAMANTE VALLE DEL CAUCA</td>
                            <td>CRA 32B #41-05</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>SUPER CAJA VILLA DEL LAGO N2</td>
                            <td>CRA 26 # D70-06</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA DECEPAZ II VALLE DEL CAUCA</td>
                            <td>CRA 26E 122 86</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA ALIRIO MORA VALLE DEL CAUCA</td>
                            <td>TRV 103 # 26C-16</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI ACP SUPER CAJA BONILLA ARAGON GANE VALLE DEL CAUCA</td>
                            <td>CRA 27 83 – 25</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI ACP SUPER CAJA VALLEGRANDE VALLE DEL CAUCA</td>
                            <td>CLL 85 22-120</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>SUPER CAJA LA VIRGEN VALLE DEL CAUCA</td>
                            <td>CLL 77 # 4N-94</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA CALICANTO VALLE DEL CAUCA</td>
                            <td>CLL 45 # 96A-10</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA LA MARIA VALLE DEL CAUCA</td>
                            <td>CLL 18 # 127-36</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>SUPER CAJA SANTA ANITA VALLE DEL CAUCA</td>
                            <td>CRA 56 # 10-57</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA COLEGIO JOSE RAMON BEJARANO VALLE DEL CAUCA</td>
                            <td>CLL 49 # 32A-04</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA CIUDAD DE CALI</td>
                            <td>CRA 49 # 52-102</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SUPER CAJA GALERIAS TERRON VALLE DEL CAUCA</td>
                            <td>AV 5 OESTE #19-54</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI ACP SUPER CAJA JAIRO VARELA VALLE DEL CAUCA</td>
                            <td>AV 4 N # 10 N -1 30</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>SEDE – TERMINAL</td>
                            <td>CLL 30N NO 2AE-29 LOCAL 117</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>SEDE SALOMIA – VALLE DEL CAUCA</td>
                            <td>CLL 45 NO 4E-30</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>SEDE VILLACOLOMBIA VALLE DEL CAUCA</td>
                            <td>CRA 15 NO 52 07</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>SEDE  ALFONSO LOPEZ – VALLE DEL CAUCA</td>
                            <td>CRA 7C NO 70-93</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>SEDE  PLAZA DE CAICEDO – VALLE DEL CAUCA</td>
                            <td>CRA 4 #11-01</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>SEDE LA LUNA – VALLE DEL CAUCA</td>
                            <td>CRA 4 #11-01</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>SEDE LA LUNA – VALLE DEL CAUCA</td>
                            <td>CLL 13 # 23A-94</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>SEDE REPUBLICA DE ISRAEL – VALLE DEL CAUCA</td>
                            <td>CRA 46 # 38A-17</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>SEDE  LA NUEVA FLORESTA – VALLE DEL CAUCA</td>
                            <td>CRA 27A # 50 – 03</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SEDE PORTADA GANE</td>
                            <td>AV 4 OESTE # 7-77</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI CHIPICHAPE VALLE DEL CAUCA</td>
                            <td>CLL 38N # 6N-35</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI PACIFIC MALL VALLE DEL CAUCA</td>
                            <td>CLL 36N # 6A-65 LOCAL 203</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SPORTBOOK PLAZA NORTE VALLE DEL CAUCA</td>
                            <td>CLL 44N # 2GN-30</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SPORTBOOK TERMINAL GANE</td>
                            <td>CLL 30 # 2 AN-29 LOC 105</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI BANCOS 14 CALIMA VALLE DEL CAUCA</td>
                            <td>CRA 1 # 66-49</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI UNICO PLAZOLETA DE COMIDAS VALLE DEL CAUCA</td>
                            <td>CRA 3 # 49-120 LC 3</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SPORTBOOK ELITE CENTRO VALLE DEL CAUCA</td>
                            <td>CRA 7 # 14-52 LOC 201</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI C COMERCIAL PALMETO PLAZA PISO 2 VALLE DEL CAUCA</td>
                            <td>CLL 9 # 48-81 ISLA 213</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI CCOMERCIAL PALMETO PLAZA II VALLE DEL CAUCA</td>
                            <td>CLL 9 # 49-21</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI CCOMERCIAL PALMETO PLAZA VALLE DEL CAUCA</td>
                            <td>CLL 9 # 49-21</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI PASEO DE LA QUINTA GANE</td>
                            <td>CLL 5 # 46-83 LOC 228</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI PASEO DE LA QUINTA GANE</td>
                            <td>CLL 5 # 46-83 LOC 228</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI ALKOSTO INGENIO GANE</td>
                            <td>CLL 13 # 80-187</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI CC JARDIN PLAZA VALLE DEL CAUCA</td>
                            <td>CRA 98 # 16-20</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI LA 14 VALLE DEL LILI VALLE DEL CAUCA</td>
                            <td>CRA 98B # 25-130 LOCAL 36</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SAN ANDRESITO DEL SUR</td>
                            <td>CLL 13 # 80-01</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI CARREFOUR JARDIN PLAZA</td>
                            <td>CRA 98 # 16-20</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI SANTIAGO PLAZA VALLE DEL CAUCA</td>
                            <td>CRA 56 # 18A-80 LOCAL GYM</td>
                            <td>EFECTIVO</td>
                        </tr>
                        <tr>
                            <td>CALI UNICENTRO VALLE DEL CAUCA</td>
                            <td>CRA 100 # 5-169</td>
                            <td>EFECTIVO</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>