<div class="america-cali_pagina mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <img class="w-100 d-block wow animate__animated animate__fadeInLeft" src="{{ img_principal_data }}" alt="Fácil Seguro">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <table class="full-table mt-5 mb-5 wow animate__animated animate__fadeInUp">
                    <thead>
                            <th>{{ tabla_data.titulo_item_1 }}</th>
                            <th>{{ tabla_data.titulo_item_2 }}</th>
                            <th>{{ tabla_data.titulo_item_3 }}</th>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of tabla_data.datos">
                            <tr>
                                <td>{{ data.datos_item_1 }}</td>
                                <td>{{ data.datos_item_2 }}</td>
                                <td>{{ data.datos_item_3 }}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>