<div class="soat_pagina pb-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xs-12 col-md-7 pt-3 pl-100">
                <div class="title-w-image">
                    <img class="mr-3 mt-n70" src="{{ soat_data.acf.icono }}" alt="Soat">
                    <h3 class="title35 mt-3 mb-3 d-inline-block pb-3" [innerHTML]="soat_data.acf.titulo"></h3>
                </div>
                <p class="text-justify mb-5" [innerHTML]="soat_data.acf.contenido"></p>
                <p class="font-weight-700 text-uppercase">{{ soat_data.acf.subtitulo }}</p>
                <a class="text-uppercase color-title pb-3 d-block" href="{{ soat_data.acf.archivo.url }}" target="blank_"><u>{{ soat_data.acf.texto_boton }}</u></a>
            </div>
            <div class="col-xs-12 col-md-5 pr-0">
                <img class="w-100 d-inline-block wow animate__animated animate__fadeInRight" src="{{ soat_data.acf.imagen }}" alt="SoatMain">
            </div>
        </div>
    </div>
</div>
