<div class="soat_pagina pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-7 pt-3 pl-100">
                <div class="title-w-image">
                    <img class="mr-3 mt-n70" src="./assets/soat_page/soat_logoPNG.png" alt="Soat">
                    <h3 class="title35 mt-3 mb-3 d-inline-block pb-3">¡Que en las vías<br>no lo cojan desprevenido!</h3>
                </div>
                <p class="mb-5">En Gane puede adquirir la Póliza electrónica de Seguro Obligatorio de Accidentes de Tránsito para el vehículo, esta ampara los daños corporales que se causen a las personas en accidentes de tránsito ya sean peatones, pasajeros o conductores en todo el territorio nacional.<br><br>
                    El cliente debe identificar la sede o punto de servicio autorizado más cercano a su residencia, para adquirir el SOAT fácil y rápido.
                </p>
                <p class="font-weight-700 text-uppercase">TARIFAS MÁXIMAS COMERCIALES DEL SOAT 2020</p>
                <a class="text-uppercase color-title" href="#"><u>Descargar tarifas soat 2020</u></a>
            </div>
            <div class="col-xs-12 col-md-5 pr-0">
                <img class="w-100 d-inline-block wow animate__animated animate__lightSpeedInRight" src="./assets/soat_page/carro_con_fondoPNG.png" alt="SoatMain">
            </div>
        </div>
    </div>
</div>
