<div class="linea-etica_pagina mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h3 class="montserrat font-weight-700 size35 line-height42 color-title">Línea Ética</h3>
                <p class="text-justify letter-spacing1-4 size19 text-gray-dark line-height23 wow animate__animated animate__fadeInRight">Es un mecanismo a través del cual los Colocadores Independientes de Servicios, Integrantes, Clientes, Proveedores en general pueden denunciar de forma anónima y reservada situaciones sospechosas que puedan afectar los intereses de la Compañía o vayan en contra de los principios y valores establecidos en el manual de Conducta, Ética y Régimen Sancionatorio, Código de Buen Gobierno, Reglamento Interno de Trabajo o las Políticas Internas.
                </p><br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">¿Qué se debe reportar?</h4>
                <ul class="text-justify letter-spacing1-4 line-height23 size19 text-gray-dark wow animate__animated animate__fadeInLeft">
                    <li>Incumplimiento de leyes y regulaciones</li>
                    <li>Actuaciones, transacciones o negocios no autorizados por el Representante Legal de Redcolsa y que impliquen o puedan implicar un beneficio personal para el colaborador, sus parientes dentro de cuarto grado de consanguinidad, segundo de afinidad o primero civil, su cónyuge y/o compañeros y/o compañero (a) permanente y sus amigos, y que pueda perjudicar a la Compañía.</li>
                    <li>Inadecuado uso de los activos de la compañía.</li>
                    <li>Negociaciones efectuadas por Integrantes por su cuenta respecto a los productos que la empresa utiliza y/o comercializa.</li>
                    <li>Descuentos que no son claros, ni expresos, ni reflejan la verdadera transacción comercial y/o no son autorizados según las políticas de Redcolsa.</li>
                    <li>Gastos que no corresponden a desembolsos necesarios para el desempeño de las funciones.</li>
                    <li>Pagos que no sean lícitos y no estén acordes con las prácticas comerciales vigentes</li>
                    <li>Fraude que atente contra la verdad, rectitud o la ley que perjudique a la Compañía y a sus partes relacionadas.</li>
                    <li>El uso de los útiles o herramientas suministradas por la Compañía en objetivos distintos del trabajo contratado.</li>
                    <li>Pagos directos y/o indirectos, dádivas a personas y/o representantes o intermediarios de cualquier entidad pública y/o privada, con el fin de obtener o mantener negocios y/ o concesiones especiales en cualquier clase de transacción con Redcolsa.</li>
                    <li>Aceptación de regalos de terceros, que puedan generar preferenciales y/o compromisos frente a quien los hace o la entidad que éste represente.</li>
                    <li>Reporte situaciones donde Integrantes comuniquen a terceros información que la compañía considera CONFIDENCIAL sin la autorización de la Alta Dirección.</li>
                    <li>Actividades sospechosas u omisión al deber de prevención y control de lavado de activos, Financiación del Terrorismo.</li>
                    <li>Colocadores Independientes o Integrantes que utilicen software que no sea legalmente adquirido por Redcolsa.</li>
                    <li>Colocadores Independientes o Integrantes que usen o introduzcan en los equipos de trabajo asignados, software no autorizado, u obtengan copias del software de la compañía sin autorización previa o expresa.</li>
                    <li>Incumplimiento de leyes y políticas de la compañía que afecten su imagen.</li>
                    <li>Actuaciones de corrupción como sobornos, tráfico de influencias y fraude.</li>
                    <li>Otras actividades contrarias al reglamento Interno, y las políticas establecidas por la Compañía.</li>
                </ul>
                <br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">¿Qué debe contener la denuncia?</h4>
                <p class="letter-spacing1-4 size19 text-gray-dark line-height23 wow animate__animated animate__fadeInRight">Es importante que se detalle en forma clara, precisa y detallada posible la situación o situaciones a reportar, indicando:</p>
                <ul class="letter-spacing1-4 size19 text-gray-dark line-height23 wow animate__animated animate__fadeInRight">
                    <li>¿Qué está pasando?</li>
                    <li>¿Dónde?</li>
                    <li>¿Cuándo?</li>
                    <li>¿Cómo?</li>
                    <li>¿Quiénes son las personas involucradas?</li>
                    <li>Demás información qué considere aporte al proceso.</li>
                </ul>
                <br>
                <h4 class="color-title opensans size19 letter-spacing1-4 line-height23 font-weight-700">¿Medios para informar?</h4>
                <p class="text-justify letter-spacing1-4 size19 text-gray-dark line-height23 wow animate__animated animate__fadeInLeft">
                    1. Ingresando a la PÁGINA WEB gane.com.co<br>
                    Para personal externo e INTRANET para el personal interno de la Compañía, donde se descarga y se diligencia el formato F-AU-25 FORMULARIO PARA DENUNCIA LÍNEA ÉTICA y se realiza el envío por algunos de los dos medios:<br>
                    <br>
                    2. Por el correo electrónico:<br>
                    lineaetica@gane.com.co o anticorrupcion@gane.com.co adjuntando el formato.<br>
                    <br>
                    3. Por WhatsApp:<br>
                    A los números 3186053276 o 3187321152, enviando una foto del formato.<br>
                    <br>
                    4. Comunicarse a las líneas telefónicas:<br>
                    3186053276 o 3187321152, donde se tomará la denuncia respectiva.<br>
                    <br>
                    Formulario para denuncia Línea Ética. <a class="color-title font-weight-700" href="/assets/linea_etica_page/Formulario-Para-Denuncia-Línea-Ética-v1.xlsx">Descargar aquí</a>
                </p>
            </div>
        </div>
    </div>
</div>