<div class="blog_pagina bk-gray pb-5">
    <div class="container">
        <h3 class="title44 text-center d-block mb-5 pt-5">Blog</h3>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="grid-item">
                    <div class="tarjetaNoticiaMayor">
                        <div class="col-md-8 col-sm-12 sinEspacio float-md-left">
                            <a href="#">
                                <img class="w-100 d-block" src="./assets/blog_page/LISTADO/Mask.jpg" alt="Noticia Principal">
                            </a>
                        </div>
                        <div class="caption col-md-4 col-sm-12 float-md-left">
                                <h3 class="tituloNoticiaMayor pt-3">
                                    <a href="#">Esto es un artículo de prueba para un artículo destacado</a>
                                </h3>
                                <p class="fechaNoticias">Julio 19, 2020</p>
                                <p class="text-gray">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,.</p>
                                <div class="campoBotonNoticia">
                                    <a class="verNoticiaMayor" href="#">Seguir leyendo <i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 tarjetasdeNoticias">
                <div class="grid-item">
                    <div class="tarjetaPublicacion">
                        <div class="sinEspacio">
                            <a href="#">
                                <img class="w-100 d-block" src="./assets/blog_page/LISTADO/not3.jpg" alt="Noticia">
                            </a>
                        </div>
                        <div class="caption">
                                <h3 class="tituloPublicacionSingular"><a href="#">Este es un título de prueba para artículo destacado</a></h3>
                                <p class="fechaNoticias">Julio 19, 2020</p>
                                <p class="text-gray">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,.</p>
                                <div class="campoBotonNoticia">
                                <a class="verNoticia" href="#">Seguir leyendo <i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 tarjetasdeNoticias">
                <div class="grid-item">
                    <div class="tarjetaPublicacion">
                        <div class="sinEspacio">
                            <a href="#">
                                <img class="w-100 d-block" src="./assets/blog_page/LISTADO/not3.jpg" alt="Noticia">
                            </a>
                        </div>
                        <div class="caption">
                                <h3 class="tituloPublicacionSingular"><a href="#">Este es un título de prueba para artículo destacado</a></h3>
                                <p class="fechaNoticias">Julio 19, 2020</p>
                                <p class="text-gray">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,.</p>
                                <div class="campoBotonNoticia">
                                <a class="verNoticia" href="#">Seguir leyendo <i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 tarjetasdeNoticias">
                <div class="grid-item">
                    <div class="tarjetaPublicacion">
                        <div class="sinEspacio">
                            <a href="#">
                                <img class="w-100 d-block" src="./assets/blog_page/LISTADO/not3.jpg" alt="Noticia">
                            </a>
                        </div>
                        <div class="caption">
                                <h3 class="tituloPublicacionSingular"><a href="#">Este es un título de prueba para artículo destacado</a></h3>
                                <p class="fechaNoticias">Julio 19, 2020</p>
                                <p class="text-gray">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,.</p>
                                <div class="campoBotonNoticia">
                                <a class="verNoticia" href="#">Seguir leyendo <i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>