<div class="bk-gray-404">
    <div style="background: url(./assets/404/bg.png);background-position: right;background-repeat: no-repeat;">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col-md-6 my-auto">
                    <div class="text-center">
                        <h2 style="color:#435EAA; font-size: 90px;font-weight: 900;">404</h2>
                        <h3 style="font-size: 24px;color: #212121;font-weight: 700;">¡Oops! Página no encontrada</h3>
                        <p style="color:#767A86;font-size: 15px;letter-spacing: 0;">La página que estás buscando no está disponible</p>
                        <a class="text-black font-weight-700 size20" href="#">Vuelve al inicio <i style="margin-left: 10px;" class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="./assets/404/concept.png" alt="Página no encontrada">
                </div>
            </div>
        </div>
    </div>
</div>
