<div class="cultura_pagina mt-5 mb-5">
    <div class="container">
        <div class="row h-100">
            <div class="col-xs-12 col-md-6 my-auto">
                <h3 class="montserrat font-weight-700 size35 line-height42 color-title">Cultura y recreación</h3>
                <p class="letter-spacing0-93 text-gray-dark">Fomentamos la salud mental, el sano esparcimiento, la integración y la buena utilización del tiempo libre para toda la familia con las siguientes actividades.<br>
                    <br>
                    Gestionamos el subsidio que otorga Redcolsa (Gane) a través de la fundación Social Gane a su fuerza de ventas. Hacemos alianzas estratégicas con entidades públicas y privadas para consolidar el proceso de adquisición de vivienda propia.<br>
                    <br>
                    Desarrollamos el programa Cultura de Ahorro y Pago que les permite tener la posibilidad de acceder a subsidios y/o créditos para mejorar su calidad de vida.
                </p>
                <p class="letter-spacing0-93 text-gray-dark"><strong>Sede de la Fundación:</strong><br>
                    Calle 9 #4 - Oficina 213<br>
                    Santiago de Cali.<br>
                    (57) (2) 881 20 00
                </p>
            </div>
            <div class="col-xs-12 col-md-6 my-auto">
                <img class="d-block w-100" src="./assets/home/FOOTER/banner_culturaPNG.png" alt="Recreación">
            </div>
        </div>
    </div>
</div>