<section id="carouselExampleIndicators" class="section1 carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="" style="background:url(./assets/home/BANNER-PRINCIPAL/bg_bannerSVG.jpg)">
                <div class="container pt-4 pb-4">
                    <div class="row align-items-center">
                        <div class="col">
                            <img src="./assets/home/BANNER-PRINCIPAL/concepto_bannerPNG.png" alt="" class="img-fluid">
                        </div>
                        <div class="col">
                            <h1 class="text-white m-0 font-weight-bold">Para más información</h1>
                            <h1 class="text-white m-0 font-weight-normal">sobre este concurso</h1>
                            <p class="mt-4">
                                <a class="btn btn-primary btn-lg btn-blue font-weight-normal pt-1 pb-1 pr-5 pl-5" href="#" role="button">Click aquí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="" style="background:url(./assets/home/BANNER-PRINCIPAL/bg_bannerSVG.jpg)">
                <div class="container pt-4 pb-4">
                    <div class="row align-items-center">
                        <div class="col">
                            <img src="./assets/home/BANNER-PRINCIPAL/concepto_bannerPNG.png" alt="" class="img-fluid">
                        </div>
                        <div class="col">
                            <h1 class="text-white m-0 font-weight-bold">Para más información</h1>
                            <h1 class="text-white m-0 font-weight-normal">sobre este concurso</h1>
                            <p class="mt-4">
                                <a class="btn btn-primary btn-lg btn-blue font-weight-normal pt-1 pb-1 pr-5 pl-5" href="#" role="button">Click aquí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="" style="background:url(./assets/home/BANNER-PRINCIPAL/bg_bannerSVG.jpg)">
                <div class="container pt-4 pb-4">
                    <div class="row align-items-center">
                        <div class="col">
                            <img src="./assets/home/BANNER-PRINCIPAL/concepto_bannerPNG.png" alt="" class="img-fluid">
                        </div>
                        <div class="col">
                            <h1 class="text-white m-0 font-weight-bold">Para más información</h1>
                            <h1 class="text-white m-0 font-weight-normal">sobre este concurso</h1>
                            <p class="mt-4">
                                <a class="btn btn-primary btn-lg btn-blue font-weight-normal pt-1 pb-1 pr-5 pl-5" href="#" role="button">Click aquí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</section>
<section class="section2 pt-5 pb-5 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col p-3 d-flex align-items-stretch">
                <div class="card d-flex justify-content-center p-4 border-radius border-0 box-shadow">
                    <p class="text-center mb-2">
                        <img class="img-fluid" src="./assets/home/SECCION-2/juegaPNG.png" alt="Card image cap">
                    </p>
                    <h3 class="text-center text-blue font-weight-bold">Juega</h3>
                    <p class="text-center text-gray m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magnam fugit mollitia dicta.</p>
                </div>
            </div>
            <div class="col p-3 d-flex align-items-stretch">
                <div class="card d-flex justify-content-center p-4 border-radius border-0 box-shadow">
                    <p class="text-center mb-2">
                        <img class="img-fluid" src="./assets/home/SECCION-2/girosPNG.png" alt="Card image cap">
                    </p>
                    <p class="text-center text-gray m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magnam fugit mollitia dicta.</p>
                </div>
            </div>
            <div class="col p-3 d-flex align-items-stretch">
                <div class="card d-flex justify-content-center p-4 border-radius border-0 box-shadow">
                    <p class="text-center mb-2">
                        <img class="img-fluid" src="./assets/home/SECCION-2/betplayPNG.png" alt="Card image cap">
                    </p>
                    <p class="text-center text-gray m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magnam fugit mollitia dicta.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>
<div class="section4 container">
    <div class="row">
        <div class="col">
            <div class="p-4" style="background:url(./assets/home/SECCION-4/bg_numero.jpg);background-size: contain;background-repeat: no-repeat;">
                <p class="text-center">
                    <img class="img-fluid" src="./assets/home/SECCION-4/concepto_numeroPNG.png" alt="Card image cap">
                </p>
                <div class="caption-slotmachine text-center">
                    <img class="img-fluid" src="./assets/home/SECCION-4/gira_numerosPNG.png" alt="Card image cap" style="position:relative">
                    <div class="slotwrapper" id="example1" style="position: absolute;left: 50%;top: 55%;transform: translate(-50%,-50%);">
                        <ul data-playslot="0" style="top: -800px;">
                            <li>0</li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                        </ul>
                        <ul data-playslot="0" style="top: -400px;">
                            <li>0</li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                        </ul>
                        <ul data-playslot="0" style="top: -600px;">
                            <li>0</li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                        </ul>
                        <ul data-playslot="0" style="top: -200px;">
                            <li>0</li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                        </ul>
                    </div>
                </div>
                <p class="text-center text-white font-weight-bold">Presiona el botón rojo para jugar</p>
                <!-- <audio id="misc">
                    <source src="../assets/sonidos/misc333.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <audio id="ding">
                    <source src="../assets/sonidos/correct-ding.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio> -->
                <!-- <button type="button" class="btn btn-success btn-lg" id="btn-example1">Start Spin!</button> -->
                <p class="text-center">
                    <img id="btn-example1" class="img-fluid btn" src="./assets/home/SECCION-4/btn_giraPNG.png" alt="Card image cap" style="position:relative">
                </p>
            </div>
        </div>
        <div class="col">
            <div class="container-tabs box-shadow border-radius">
                <ul class="nav nav-tabs nav-justified border-0" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link text-blue size16 font-weight-bold pt-3 pb-3 active" id="calcula-tab" data-toggle="tab" href="#calcula" role="tab" aria-controls="calcula" aria-selected="true">
                            <img id="btn-example1" src="./assets/home/SECCION-4/CALCULA/giro.png"> Calcula tu Giro
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-blue size16 font-weight-bold pt-3 pb-3" id="simulador-tab" data-toggle="tab" href="#simulador" role="tab" aria-controls="simulador" aria-selected="false">
                            <img id="btn-example1" src="./assets/home/SECCION-4/CALCULA/bingo.png"> Simulador de chance
                        </a>
                    </li>
                </ul>
                <div class="tab-content border-top" id="myTabContent">
                    <div class="tab-pane fade show active" id="calcula" role="tabpanel" aria-labelledby="calcula-tab">...</div>
                    <div class="tab-pane fade" id="simulador" role="tabpanel" aria-labelledby="simulador-tab">...</div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section5">
    <div class="jumbotron border-0 rounded-0 pt-5 pb-5" style="background:url(./assets/home/SECCION-5/bg_puntosventa.jpg);background-size: cover;background-repeat: no-repeat;background-position: center;height:380px">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-sm-6">
                    <div class="media">
                        <img src="./assets/home/SECCION-5/puntoventa_icoPNG.png" class="align-self-start mr-3 pt-2" alt="...">
                        <div class="media-body">
                            <h1 class="text-white font-weight-bold">Puntos de venta</h1>
                            <p class="text-white">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                                congue felis in faucibus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section6">
    <div class="container pb-5 pt-2">
        <h1 class="text-center text-blue mb-4">Campañas</h1>
        <div class="row">
            <div class="col-sm-3">
                <div class="card border-0">
                    <img class="card-img-top" src="./assets/home/SECCION-6/campaña4PNG.png" alt="Card image cap">
                    <div class="card-body p-2">
                        <h5 class="card-title text-blue font-weight-bold">Un minuto para ganar</h5>
                        <h5><span class="badge badge-warning text-white font-weight-normal pr-3 pl-3 pb-1">Terminada</span></h5>
                        <small class="text-blue"><i class="far fa-clock"></i> Lunes 03 de Octubre de 2020</small>
                        <p class="size16 card-text mb-1 font-weight-bold line-height1-4 text-blue">Participa con chances de $1000 en adelante</p>
                        <p class="size14 line-height1-4 text-blue mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus praesentium.</p>
                        <a href="#" class="size13 text-yellow">Más información <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-0">
                    <img class="card-img-top" src="./assets/home/SECCION-6/campaña3PNG.png" alt="Card image cap">
                    <div class="card-body p-2">
                        <h5 class="card-title">Un minuto para ganar</h5>
                        <h5><span class="badge badge-warning text-white font-weight-normal pr-3 pl-3 pb-1">Terminada</span></h5>
                        <small class="text-blue"><i class="far fa-clock"></i> Lunes 03 de Octubre de 2020</small>
                        <p class="size16 card-text mb-1 font-weight-bold line-height1-4 text-blue">Participa con chances de $1000 en adelante</p>
                        <p class="size14 line-height1-4 text-blue mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus praesentium.</p>
                        <a href="#" class="size13 text-yellow">Más información <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-0">
                    <img class="card-img-top" src="./assets/home/SECCION-6/campaña1PNG.png" alt="Card image cap">
                    <div class="card-body p-2">
                        <h5 class="card-title">Un minuto para ganar</h5>
                        <h5><span class="badge badge-success text-white font-weight-normal pr-3 pl-3 pb-1">Vigente</span></h5>
                        <small class="text-blue"><i class="far fa-clock"></i> Lunes 03 de Octubre de 2020</small>
                        <p class="size16 card-text mb-1 font-weight-bold line-height1-4 text-blue">Participa con chances de $1000 en adelante</p>
                        <p class="size14 line-height1-4 text-blue mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus praesentium.</p>
                        <a href="#" class="size13 text-yellow">Más información <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-0">
                    <img class="card-img-top" src="./assets/home/SECCION-6/campaña2PNG.png" alt="Card image cap">
                    <div class="card-body p-2">
                        <h5 class="card-title">Un minuto para ganar</h5>
                        <h5><span class="badge badge-warning text-white font-weight-normal pr-3 pl-3 pb-1">Terminada</span></h5>
                        <small class="text-blue mb-2"><i class="far fa-clock"></i> Lunes 03 de Octubre de 2020</small>
                        <p class="size16 card-text mb-1 font-weight-bold line-height1-4 text-blue">Participa con chances de $1000 en adelante</p>
                        <p class="size14 line-height1-4 text-blue mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus praesentium.</p>
                        <a href="#" class="size13 text-yellow">Más información <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section7">
    <div class="jumbotron border-0 rounded-0 pt-5 pb-5 mb-0" style="background:url(./assets/home/SECCION-7/newsletter_bg.png);background-size: auto;background-repeat: no-repeat;background-position: center;">
        <div class="container h-100">
            <h2 class="text-center text-blue text-white mb-4">Suscríbete para recibir los resultados</h2>
            <form>
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-sm-4">
                        <label class="text-white size14">Nombre</label>
                        <input type="text" class="form-control" placeholder="Ejemplo: Juan David">
                    </div>
                    <div class="col-sm-4">
                        <label class="text-white size14">Correo eletrónico</label>
                        <input type="text" class="form-control" placeholder="Ejemplo: correo@gmail.com">
                    </div>
                    <div class="col-sm-12 text-center mt-4">
                        <button type="submit" class="btn btn-yellow font-weight-bold size18 pr-5 pl-5">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<app-footer></app-footer>