<div class="cultura-anticorrupcion_pagina pt-5 pb-5 bk-gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h3 class="montserrat font-weight-700 size35 line-height42 color-title">Cultura anticorrupción</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Día internacional contra la corrupción</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">¿Qué es la anticorrupción?</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Redcolsa Comprometida con la iniciativa anticorrupción</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Día internacional contra la corrupción</a>
                    <a class="nav-link" id="v-pills-en-linea-tab" data-toggle="pill" href="#v-pills-en-linea" role="tab" aria-controls="v-pills-en-linea" aria-selected="false">Cultura anticorrupción</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <img class="w-100 mb-5" src="./assets/anticorrupcion_page/cultura_antiPNG.jpg" alt="Corrupción">
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <img class="w-100 mb-5" src="./assets/anticorrupcion_page/3PNG.jpg" alt="Corrupción">
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <img class="w-100 mb-5" src="./assets/anticorrupcion_page/4PNG.jpg" alt="Corrupción">
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <img class="w-100 mb-4" src="./assets/anticorrupcion_page/5PNG.jpg" alt="Corrupción">
                        <img class="w-100 mb-5" src="./assets/anticorrupcion_page/6PNG.jpg" alt="Corrupción">
                    </div>
                    <div class="tab-pane fade" id="v-pills-en-linea" role="tabpanel" aria-labelledby="v-pills-en-linea-tab">
                        <img class="w-100 mb-5" src="./assets/anticorrupcion_page/1n9BSVNn5UPNG.jpg" alt="Corrupción">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 mb-5">
                                <p class="letter-spacing1-4 size19 text-gray-dark">los Accionistas, Colaboradores, Colocadores Independientes de Apuestas, Proveedores y demás Contrapartes. Consciente de estas consecuencias, la Gerencia está comprometida con los más altos estándares éticos en las interrelaciones con sus grupos de interés y con el cumplimiento de las leyes y regulaciones locales, nacionales y aquellas que le son aplicables al sector.<br>
                                    <br>
                                    Como respuesta a dicho compromiso, se establece la Política Anticorrupción, como un mecanismo para impulsar el desarrollo de acciones coordinadas para prevenir la corrupción, promover la transparencia en la gestión de la administración, disuadir las conductas indebidas e incentivar el compromiso de sus grupos de interés contra el fraude y la corrupción.
                                </p>
                                <img class="w-100 d-block mt-5 mb-5" src="./assets/anticorrupcion_page/8PNG.jpg" alt="Protección">
                                <p class="letter-spacing1-4 size19 text-gray-dark">La presente Política Anticorrupción establece los elementos estructurales como marco para prevenir, detectar, investigar y corregir eventos de corrupción y fraude. Así mismo asigna los roles y responsabilidades generales en el proceso de identificación de riesgos, diseño, implementación y evaluación de controles en la gestión de investigaciones relacionadas con eventos de corrupción y fraude.<br>
                                    <br>
                                    <a class="color-title" href="#">Para conocer más al detalle los procedimientos de la Política Anticorrupción de click aquí</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>